[2016-03-07 23:50] truered2 commented on #250
Windows 7 does not see NetHook2.dll. It's a problem.

[2016-03-07 23:59] jimmydorry commented on #250
If you right click on the NetHook2.dll ... there isn't something silly like an "unblock" menu item? You may need to go into properties, via right click.

[2016-03-08 00:31] truered2 commented on #250
What do you use the os system? I not found "unblock", I have given all user rights for file, but problem is not lost.

[2016-03-08 00:33] jimmydorry commented on #250
Alright, I'll try and find some time to look at it tonight. It could simply be a case of the compiled nethook being too old.

[2016-03-08 00:36] truered2 commented on #250
Thanks.

[2016-03-09 09:11] jimmydorry commented on #250
Yea it looks to be too old. @imayhaveborkedit Are you able to run nethook?

[2016-03-09 11:01] truered2 commented on #250
Okey. NetHook don't work, but name issue - GetRegionalChannelList. Without nethook, how I get protobuf data dota2?

[2016-03-09 11:05] jimmydorry commented on #250
If you just want the schemas, they are all in in the protos folder... and the ones you want are around this line https://github.com/RJacksonm1/node-dota2/blob/dev/proto/dota_gcmessages_client.proto#L1255

If you mean the raw data and actual messages the client sends... then nethook is the only way. You need to compile a new version, which is straight forward if you have visual studio installed. If

[2016-03-09 11:10] truered2 commented on #250
CMsgDOTAChatRegionsEnabled don't help. You use the NetHook without any problems?

[2016-03-09 11:29] jimmydorry commented on #250
No, same error. It needs to be recompiled.

[2016-03-09 11:35] truered2 commented on #250
Maybe, you know. Dota2 return 200 channels within a radius of 200 kilometers of my geolocation. Is it possible to change the limit 200 channels to 1000 channel, for example?

[2016-03-09 12:08] jimmydorry commented on #250
I don't know. It needs to be nethooked.

[2016-03-09 22:49] imayhaveborkedit commented on #250
My nethook still works fine. I'll see if I can find what we need here.

[2016-03-09 23:01] jimmydorry commented on #250
That's weird. It used to work for me, but doesn't any more (it's been months since I last used it)... but it works for you. :(

[2016-03-10 11:23] truered2 commented on #250
imayhaveborkedit, you use old pre-compiled version or you recompiled nethook and use new version?

[2016-03-10 15:12] Altantur opened #253 "Server IP converting"
Hello, I have a question about LobbyUpdate object.
There is line about game hosted server and port like below:
**"connect": "=[A:1:665554951:6478]" ,**

It might be too noob to ask about how convert this to ipv4 address or something readable. Do I need specific table?   Thanks.

[2016-03-10 15:14] jimmydorry commented on #253
Valve moved to a fancy routing system to make it harder to find the server IP, to prevent this. Let me google their news, as I'm pretty sure they mentioned it after all of the community outrage over DoS of tournaments.

[2016-03-10 15:17] jimmydorry commented on #253
Look at networking section. http://www.dota2.com/reborn/part3

[2016-03-10 15:23] jimmydorry commented on #253
And look here: http://dev.dota2.com/showthread.php?t=172553&page=2&p=1251337&viewfull=1#post1251337

Hope that helps

[2016-03-10 15:23] #253 closed

[2016-03-16 22:38] gerlaic opened #254 "How do large websites like dotabuff/yasp know that a game is ended?"
How do dotabuff/yasp know that a game is ended? It looks like they can grab the information as soon as the game ends. I know we can get the match detail information from the steam API but how do I know that the game is ended?

[2016-03-16 22:39] gerlaic commented on #155
Well I was reading through all the issues and then I saw this. Actually @jimmydorry I didn't save it but basically I disabled the steam guard and I think this is the easiest way to solve the problem

[2016-03-16 22:49] howardchung commented on #254
Basically it doesn't show up until the game is over.
On Mar 16, 2016 3:38 PM, "gerlaic" <notifications@github.com> wrote:

[2016-03-16 22:56] gerlaic commented on #254
I know it doesn't show up until the game is over. But how do you know the matchID of a recent ended game?

[2016-03-16 23:08] howardchung commented on #254
Use the sequence number API.  The match rate can be up to 20 matches a
second so make sure your application can handle it.
On Mar 16, 2016 3:56 PM, "gerlaic" <notifications@github.com> wrote:

[2016-03-16 23:13] jimmydorry commented on #155
No way. I made something recently, and it worked fine even with SteamGuard enabled. You should try pulling the latest github version into where you have this library installed.

[2016-03-17 21:33] #254 closed

[2016-03-19 03:32] howardchung commented on #243
@jimmydorry could you release a new npm package with the new protos?

[2016-03-19 04:34] jimmydorry commented on #243
@howardchung Are you compatible with the dev branch? If so I can merge that, and ping rjackson to release.

[2016-03-19 04:43] howardchung commented on #243
Looks okay so far. (replays, MMR).  MMstats needs to be deployed (but it's been broken for a month anyway so no one's missing it).  Probably going to let it bake overnight and deploy tomorrow.

[2016-03-19 04:45] howardchung commented on #243
You can go ahead and merge/release anyway.  Anyone who's broken can go back to 2.0.0.

[2016-03-19 04:49] jimmydorry commented on #243
I actually didn't check the protos in dev. I should probably check that they are the latest. They are certainly more recent than master.

[2016-03-19 04:51] howardchung commented on #243
Yeah, you could run the script again and get the latest

[2016-03-20 22:10] Jefftopia opened #258 "No replay_salt in API response"
I'm hitting the MatchDetails url from within the dota client and not receiving `replay_salt` in the response. What am I missing?

[code]

[2016-03-21 01:02] jimmydorry commented on #258
That looks to be using the webAPI. The webAPI stripped that field away many years ago, after Dotabuff was using it to harvest replays. You need to be using the in-game API, that this library is built around.

[2016-03-21 01:13] Jefftopia commented on #258
@jimmydorry Ah, that explains it - I found the appropriate requestMatchDetails method, thanks.

[2016-03-21 01:28] jimmydorry commented on #258
No probs.

[2016-03-21 01:28] #258 closed

[2016-04-08 09:05] gerlaic opened #259 "Do I have to use node-dota2 to download replays?"
Hi!

I used to use the api link to download replays. But it looks like we can't do that anymore since the match ID I received is a negative number and the absolute value of it doesn't work as well. Do I have to use node-dota2 to download replays?

[2016-04-08 10:47] Crazy-Duck commented on #259
Are you sure it's not a parsing issue at your end? What datatype are you using to store a match ID? Match ID's are 64 bits now, so if you're using a signed 32bit integer to store them, the ID will roll over into the negatives...

[2016-04-08 13:26] jimmydorry commented on #259
Need further information and a code example to make further comment. It's most likely that you are treating or storing the matchID as a 32bit, like @Crazy-Duck said.

[2016-04-09 06:27] gerlaic commented on #259
Basically what I do is this:

`Dota2.requestMatchDetails(match_ID, function (err, body) {
                if (err) throw err;

                path = '../VP-root/json-data/';

                file_name = match_ID + '.json'
                fs.writeFile(path + file_name, JSON.stringify(body), function (err) {
                    if (err) throw err;
                    steamClient.disconnect();

[2016-04-09 06:44] jimmydorry commented on #259
You should treat it as a string.

http://www.javascripter.net/faq/converti.htm

http://stackoverflow.com/questions/24037751/how-to-do-64bit-integer-arithmetic-in-node-js

[2016-04-09 08:17] gerlaic commented on #259
Ah Ok. Thanks!

[2016-04-09 08:17] #259 closed

[2016-04-09 09:00] jimmydorry commented on #259
Did it work?

[2016-04-12 02:40] howardchung opened #260 "request_matches_minimal"
Apparently this is not implemented yet and could be useful for retrieving account_ids for matches (including anonymous ones).

https://www.reddit.com/r/dota2/comments/4e4t3g/yasp__global_performance_benchmarks/d1y9s8s

@Crazy-Duck ?

[2016-04-12 02:55] jimmydorry commented on #260
[The important part](https://github.com/SteamRE/SteamKit/blob/master/Resources/Protobufs/dota/dota_gcmessages_client.proto#L621)

I would say that circumventing the account privacy settings is very much a bug, and not intended.

[2016-04-12 02:58] jimmydorry commented on #260
k_EMsgClientToGCMatchesMinimalRequest - [here](https://github.com/SteamRE/SteamKit/blob/master/Resources/Protobufs/dota/dota_gcmessages_common.proto#L589)

CMsgClientToGCMatchesMinimalRequest - [here](https://github.com/SteamRE/SteamKit/blob/master/Resources/Protobufs/dota/dota_gcmessages_client.proto#L168-L170)

[2016-04-12 02:59] howardchung commented on #260
The use case I'm considering it for would be getting a more accurate sampling of MMR data (right now we can only request MMR updates for the account_ids of non-anonymous players).

It is possible to use this data to circumvent users' privacy settings for general match data, but hopefully developers won't abuse it.

[2016-04-12 03:00] jimmydorry commented on #260
I wouldn't risk it as privacy is one of the very few things Valve seems to actually care about. APIs can stay broken for months, but if it leaks private data it generally gets fixed in a day or two.

If I can reproduce, I'll let them know.

[2016-04-12 03:03] howardchung commented on #260
I don't think I've ever seen an anonymous player in a match summary in the client.  They probably aren't hiding it because (as with replays), it's not officially supported or designed for mass consumption.

[2016-04-12 03:26] jimmydorry commented on #260
Just implemented it. Will push to dev, and let Valve know.

I don't expect it to last long.

[2016-04-12 03:33] howardchung commented on #260
In that case I won't do anything yet.  However, as I mentioned before I don't think this is a bug (unlike the last time when we found the issue that allowed requesting any player's MMR)

[2016-04-12 03:38] jimmydorry commented on #260
Well it's there for you to play with. https://github.com/RJacksonm1/node-dota2/pull/261

[2016-04-12 05:16] Crazy-Duck commented on #260
I don't know about this actually, it might be intended. Afaik since reborn you were always able to see anyone's profile and recent matches, so it might very well be that valve is loosening up on the privacy settings.

[2016-04-12 05:18] jimmydorry commented on #260
We will have to see.

INB4 node-doto take-down request.

[2016-04-12 05:21] Crazy-Duck commented on #260
well, it wouldn't be the first time, last time it got shut down within a week if I recall correctly (was a fun week though :p)

[2016-04-12 05:22] jimmydorry commented on #260
A few times before that (years actually), a few thousand poor bot accounts got banned to cripple a site that had spent weeks of development based on the assumption that anything goes.

[2016-04-12 05:26] Crazy-Duck commented on #260
1 min of silence for the lives of our fellow bots... which goes to show, better be careful @howardchung, wouldn't want yasp to go under because of a sudden lack of bots ;)

[2016-04-12 05:51] howardchung commented on #260
eh, we could always make more accounts.  I feel like if Valve had a problem with it they would have done something already.  It's been 15 months and we're parsing 50,000 replays a day (~4% of total)

[2016-04-12 05:53] jimmydorry commented on #260
Let's just wait and see what happens. I sent the email 2 hours ago.

[2016-04-12 06:19] Crazy-Duck commented on #260
Do you guys have automated processes to create additional accounts?

[2016-04-12 06:36] howardchung commented on #260
I don't, but I know there are ways to do it.

[2016-04-12 06:38] jimmydorry commented on #260
BigSite™ that is largely responsible for the privacy setting getting introduced (Kappa) automated their account creation, from what I understand. They obviously won't make that method public, nor share specifics of it, but it is pretty trivial to do.

[2016-04-12 06:40] howardchung commented on #260
Based on some random sampling BigSite™ parses around 30,000 replays a day (300 accounts).  There are probably more in reserve, though.

If we did write code for a method ourselves we would put it in the yasp repository and share it publicly, though.

[2016-04-12 06:47] jimmydorry commented on #260
For making steam accounts? That could end up opening the gates for a second uprising of spam bots. lol

[2016-04-12 06:50] howardchung commented on #260
Eh, I believe in full transparency for all the code used for YASP.  I'm already writing closed-source code at work--I'd like to share everything else I do outside of it.  It wouldn't be something I advertised, though.

[2016-04-12 06:56] Crazy-Duck commented on #260
I agree with @howardchung on this, it's better to keep this kind off stuff transparent. If anything,the proof of concept alone might be enough for Valve to actually review their account creation process and make it sturdier, which would counter the second chatbot uprising (sounds like some AI revolutionary war :p)

[2016-04-16 10:47] c00kie17 opened #263 "getting server steam3ID value"
how can I get the server steam3ID value to use  in the watch_server command form the "steam server id " which returns a low and high value . The steam3ID value needed looks like this [A:1:value:value]. I am getting the steam server id from the list of sourcetv games .I know its not a issue with the system but I did not know where else to ask the question.

[2016-04-16 11:53] jimmydorry commented on #263
The object you are getting is the high and low 32 bits of a 64 bit unsigned int. NodeJS can't work with 64bits natively, so you need to treat it as a string or use a bigint package to do operations on it.

@Crazy-Duck can elaborate on this, as I may be totally wrong... but this is an object type which can be stringified. So you can basically do ""+steam_id or JSON.stringify(steam_id) to get the va

[2016-04-16 15:59] c00kie17 commented on #263
Hi jimmydorry thanks for helping out. I used to JSON.stringify to print the value of the object which gives me the high and low 32 bit values of the 64bit unsigned int. The package that you sent me needs like 64 bit value. Do you know any way to convert it ? I will try to search for a package that does the same if you have any more suggestion I would really appreciate it .Thank you for your help

[2016-04-16 16:53] Crazy-Duck commented on #263
You can't use JSON.stringify, cause that, well, stringifies the JSON. You need to use string concatenation with the empty string to get the full 64bit steamID. Just do something like this `""+jsonThingy` and you should get the proper result

[2016-04-16 17:13] c00kie17 commented on #263
Thanks a lot I figured it out. I know that this wasnt the right place to post this question but still thank you for the help. Ill be closing the issue now.

[2016-04-16 17:13] #263 closed

[2016-04-16 17:43] Crazy-Duck commented on #263
alright, glad we could help

[2016-04-17 23:15] howardchung commented on #260
This has apparently been patched to return 0 for anonymous account_ids.

[2016-04-17 23:15] #260 closed

[2016-04-17 23:16] jimmydorry commented on #260
![GreyFace](http://dota2.photography/public/s/GreyFace.png)

[2016-04-17 23:17] jimmydorry commented on #260
They never sent me back an email though... How rude of them.

[2016-04-17 23:31] rossengeorgiev commented on #260
Can confirm this being patched after the GC restarted on 2016-04-13 at 22:20. RIP.

[2016-04-17 23:49] jimmydorry commented on #260
Someone should go have a look at what this looks like in client. ![GreyFace](http://dota2.photography/public/s/GreyFace.png)

[2016-04-17 23:53] rossengeorgiev commented on #260
No idea where it is used in client

[2016-04-17 23:54] jimmydorry commented on #260
Match minimal is probably used for match summaries in sourceTV (especially for tournaments).

I'll definitely have a look at what broke, when I get home.

[2016-04-18 06:02] Crazy-Duck commented on #260
RIP

[2016-04-18 13:26] Arm1stice commented on #240
@Apmats Currently, there isn't even an API for that sort of thing

[2016-05-04 16:51] oleghalin opened #264 "MatchDetails of Lobby"
I launched lobby, can i get data of kills and other from server?

[2016-05-04 21:39] jimmydorry commented on #264
Come on mate, there were just 4 issues open... and the one you were after even had a very similar title to this.

https://github.com/RJacksonm1/node-dota2/issues/240

[2016-05-04 21:39] #264 closed

[2016-05-04 21:40] jimmydorry commented on #230
Issue is very old.

[2016-05-04 21:40] #230 closed

[2016-05-05 09:50] soloqi opened #265 "Is include_practice_matches invalid?"
message CMsgDOTAGetPlayerMatchHistory {
	optional uint32 account_id = 1;
	optional uint64 start_at_match_id = 2;
	optional uint32 matches_requested = 3;
	optional uint32 hero_id = 4;
	optional uint32 request_id = 5;
	optional bool include_practice_matches = 7;
	optional bool include_custom_games = 8;
}
I use 'include_practice_matches' want to get player's practice_matche,but is invalid.
I'd love t

[2016-05-05 11:21] jimmydorry commented on #265
Does it work in-client? I don't recall being able to see Practice Matches... and they are definitely excluded from the WebAPI.

Go confirm you can find those kind of matches in the client first.

[2016-05-05 12:26] Crazy-Duck commented on #265
You can retrieve them in client, but only for your own account

On 5 May 2016 1:21 p.m., jimmydorry <notifications@github.com> wrote:

Does it work in-client? I don't recall being able to see Practice Matches... and they are definitely excluded from the WebAPI.

Go confirm you can find those kind of matches in the client first.

—
You are receiving this because you are subscribed to this thread.
R

[2016-05-06 17:08] leovarmak opened #266 "An Automated System"
Hey, I would like to automate few thing in the game. I am organizing a dota 2 1v1 tournament. So if I create a lobby with Bo3. Then is it possible to know who won without having to watch the game ? . If possible I would to even start the lobby by an AI but this is secondary. Please help me out

[2016-05-07 08:26] leovarmak opened #267 "Installation issue."
Hey
I have first cloned the the repo. Then I went in the local directory 'node-dota2' in the terminal and ran `npm install steam` and `npm install`.  Then changed the contents on the .example file and saved it as config.js and deleted the .example file.  I then went into test directory in terminal and ran `npm test.js` and I get a issue.

![node error](https://cloud.githubusercontent.com/assets/14

[2016-05-07 13:22] jimmydorry commented on #266
Look at the other open issues.

[2016-05-07 13:26] jimmydorry commented on #267
Ignore or delete test.js you want to be running example.js

[2016-05-07 13:54] leovarmak commented on #267
![node issuetiff](https://cloud.githubusercontent.com/assets/14135553/15092492/39baa8d8-1489-11e6-90b9-12726b281bcf.jpg)
This is the error I get now. What should I do sir ?

[2016-05-07 13:59] jimmydorry commented on #267
https://github.com/RJacksonm1/node-dota2/issues/220

[2016-05-07 14:03] leovarmak commented on #267
Well what should be the extension of the file ? Well I am complete noob.

[2016-05-07 14:06] jimmydorry commented on #267
No extension. Read through the script you are trying to run.

https://github.com/RJacksonm1/node-dota2/blob/master/test/example.js#L179

[2016-05-07 15:38] leovarmak commented on #267
@jimmydorry I am getting this error `Connection closed by server` just like in the issue #220 . I check is anything is down but evrything is fine. What should I do ?

[2016-05-07 18:09] Crazy-Duck commented on #267
@leovarmak check out the error message. It says: cannot load sentry file. This means it searches for a file with filename sentry (no extension). This file is not included when you clone the repo. It is a file which is used when you want to use an account which is protected with more than just a username + password. As issue #220 points out, all you need to do to get it running, is creating an empt

[2016-05-07 18:52] leovarmak commented on #267
@Crazy-Duck I have created that. I am talking about the issue that I am facing now after creating the file.

[2016-05-07 21:12] Crazy-Duck commented on #267
Can you post a screen cap from what ur getting now? And your directory structure, node js version and the file you're trying to run

On 7 May 2016 8:52 p.m., Karthik Varma <notifications@github.com> wrote:

@Crazy-Duck I have created that. I am talking about the issue that I am facing now after creating the file.

—
You are receiving this because you were mentioned.
Reply to this email directly or

[2016-05-08 02:10] leovarmak commented on #267
This is the screenshot
![node-error](https://cloud.githubusercontent.com/assets/14135553/15095639/79c569fc-14ef-11e6-8280-57eb1f148322.jpg)

This is the path - `/Karthik/Websites/github/node-dota2/test/example.js`

Node.js version- 4.4.4

I am try to run the example.js file which is present inside the folder test

[2016-05-08 03:25] jimmydorry commented on #267
Is the sentry file empty? Do you have the correct user credentials? Double check them by logging into the steam site. Did you sign in with no auth code, and after getting the email, then fill in the auth code?

[2016-05-08 04:07] leovarmak commented on #267
@jimmydorry The sentry file is empty. My user credentials are correct. I have double checked them. When I run the `config.js` with no auth code I get a code on my Mobile. Then I fill in the code and saved the file. Then when I ran the `example.js` file I again I get a new auth code. This repeats. What should I do now ?

[2016-05-08 04:33] jimmydorry commented on #267
You should just create a new account, and make sure it does not have steamguard. It's far easier if you can't figure out how to make the normal account work.

[2016-05-08 04:58] leovarmak commented on #267
@jimmydorry I have created a new account and updated the `config.js` file. I didn't receive any steam auth code on my email but in terminal its shows logged in. Here is the screenshot.
![node-error](https://cloud.githubusercontent.com/assets/14135553/15096091/80fe9f14-1507-11e6-99a4-106aa2bb548a.jpg)
Now I guess its stuck there. Nothing is happening. What should I do now ?

[2016-05-08 05:26] jimmydorry commented on #267
It's working. Everything else is up to you.

Look at what is in the example, and read the readme about the different functions you can use.

[2016-05-13 06:17] Crazy-Duck opened #268 "Update travis node js version from 5.0 to 6.1 and 4.2 to 4.4.4"
Pretty much what the title says

[2016-05-13 06:18] Crazy-Duck commented on #268
I think we can also ditch 0.12 since node-steam only supports >=4.1.1

[2016-05-13 06:54] jimmydorry commented on #268
@RJacksonm1 All yours buddy. I have no idea how any of that magic works.

I will also take the opportunity to point out that as I said would happen (when we debated on merging the test script into the main branch), someone tried to run test script locally and didn't understand why the library did not work.

[2016-05-13 06:56] jimmydorry commented on #267
Heard nothing more about this. Open another issue when you have a specific question.

[2016-05-13 06:56] #267 closed

[2016-05-13 07:13] Crazy-Duck commented on #268
about that, I think I'm gonna look into creating a simple node-module which offers a basic bot implementation class. Something like the following
[code]

[2016-05-13 07:14] jimmydorry commented on #268
That would be pretty helpful.

[2016-05-13 13:37] Crazy-Duck commented on #268
Made a start [here](https://github.com/Crazy-Duck/node-dota2-bot). I'll probably make some small tweaks like returning a promise when you don't pass a callback in the near future. I also might look into putting this on npm

[2016-05-13 14:41] jimmydorry commented on #268
The biggest thing I see people fail to account for time and time again, is graceful handling of diconnections, GC restarts, and random timeouts. It would be a massive improvement to set an example of how to robustly handle such.

[2016-05-17 12:26] Crazy-Duck commented on #268
I created [this](https://github.com/Crazy-Duck/node-dota2-bot/issues/1) issue to not further clutter this one since we're straying a bit away from the original subject

[2016-05-18 11:45] c00kie17 opened #269 "requestPlayerInfo has stopped working after the battle pass update"
Hi I wanted to update that requestPlayerInfo has stopped working and is not returning anything after the new battle pass update that valve added 2 days ago.

[2016-05-18 12:44] jimmydorry commented on #269
It may be as simple as just updating the protobufs. Will take a quick look tomorrow.

[2016-05-18 18:20] Crazy-Duck commented on #269
I did it a pull for the new proto's but it seems a lot of stuff got swapped around. The protobuf got changed (so much for the spirit of retrocompatibility), it now takes an array of objects instead of an array of ids. Gonna have to tinker around a bit and check if it's sufficient to just wrap the ids, if not we're gonna need a 4.0.0 push

[2016-05-18 19:38] Crazy-Duck commented on #269
Hotfixed in latest pull on the dev branch
I might create a new function getPlayerinfos which implements the entire spec later on. I didn't do any further checking, so it's very much a possibility that other stuff will pop up later on. Just create an issue and I'll look into fixing it

[2016-05-19 03:22] c00kie17 commented on #269
Hi what do you mean it takes an array of objects? Objects of what? If anything else pops up I will update it here.

[2016-05-19 06:15] Crazy-Duck commented on #269
It's a backend change on Valve's end. The protobuf used to look like this:
[code]
whereas now it's become
[code]
However this is of no consequence to you since you use the `requestPlayerInfo` function we provide, which usage hasn't changed. We'll be pushing the fix to the main repo soonish, in the mean time you can use the dev branch if you want things to work again.

[2016-05-19 06:31] Crazy-Duck opened #272 "CMsgPassportDataRequest no longer seems to exist"
requestPassportData will no longer work since the corresponding protobuf seems to have disappeared.  We might want to look into adding a deprecated tag in the README/source doc, or removing it all together

[2016-05-19 07:28] Crazy-Duck commented on #272
Added some notes in #273, think most of our stuff should work now

[2016-05-19 07:50] c00kie17 commented on #269
Oh okay, thanks! Ill be using the dev branch. Thanks a lot for the quick response.

[2016-05-19 08:47] osalivan opened #274 "It's possible to get each player score from DotaTV?"
http://funkyimg.com/i/2bXqv.png
ty

[2016-05-19 09:57] jimmydorry commented on #272
Marking it as no-longer working is probably the better option than removing it. People would be able to see why things they were using, no longer work. :+1:

[2016-05-19 09:57] jimmydorry commented on #269
He's a super star

[2016-05-19 09:58] jimmydorry commented on #274
We have an open issue for this exact thing. Read through that: https://github.com/RJacksonm1/node-dota2/issues/240

[2016-05-19 09:58] #274 closed

[2016-05-19 10:09] #272 closed

[2016-05-20 08:50] c00kie17 commented on #269
Hi i know i should probably start a new thread for this but, I was wondering if you all were working on a way to get live game stats for all games ? Or if its even possible to right now?

[2016-05-20 10:01] jimmydorry commented on #269
Look at the open issues, it gets raised almost every day.

[2016-05-20 11:56] mnickkk commented on #240
You're saying that it's impossible to grab the result of private (practice) lobby. Looking into related issue #223 found information that even when sitting as a coach we still aren't counted as a player in that game, thus we can't grab the match result. Esportal guys however are able to grab the match results, and their matches aren't ticketed in Dota 2 Client (thus no webapi stuff). I wonder if "

[2016-05-20 13:27] Apmats commented on #240
@mnickkk if it's just the result you're interested in you can always keep your bot in the lobby and listen to the lobby updates and get the result from those.

[2016-05-28 21:31] mburst commented on #240
Sorry if this is a n00b question but I'm curious how the protobuf methods are generated? It seems the realtime methods are missing request signatures since I can only find the response models. https://github.com/RJacksonm1/node-dota2/blob/master/proto/dota_gcmessages_common.proto#L1695 has a ton of data but no one seems to know how to generate a request to yield that data. Then there is https://gi

[2016-05-28 21:40] Crazy-Duck commented on #240
Protobuf is a messaging protocol that is used by valve for all communication between clients, GC, game servers, and internal comm between servers. The proto files contain ALL message types, also those that aren't triggered by the client. So those messages which are triggered by the client we can reproduce, the others we can't...

On 28 May 2016 11:31 p.m., Max Burstein <notifications@github.com> w

[2016-05-28 21:42] mburst commented on #240
I'm curious where you're pulling the protobuf files from though. I can see hints of them in the client.dll but curious if you have an easier way of pulling them from the client.

[2016-05-28 21:44] Crazy-Duck commented on #240
Check the repo, there's an update script. We pull them from a github.com repo from the guys who pull them from the game files and the steam client

On 28 May 2016 11:42 p.m., Max Burstein <notifications@github.com> wrote:

I'm curious where you're pulling the protobuf files from though. I can see hints of them in the client.dll but curious if you have an easier way of pulling them from the client.

[2016-05-30 07:51] howardchung commented on #268
I just checked and it doesn't appear the automated test is even running.  `package.json` doesn't have a test script.

[2016-05-30 08:28] jimmydorry commented on #268
I blame @Crazy-Duck for that whole need to keep all branches in-sync. :fire: It was definitely not due to my ham-fisted merge.

@howardchung I'm pretty ignorant of what needs doing when it comes to travis. What should the package.json look like, and can I have it in the main branches without causing problems?

I see how to change the travis node versions, so I can change that at the same time as t

[2016-05-30 09:03] howardchung commented on #268
`package.json` should contain under `scripts` a key called `test`.

[code]

`example.js` should be moved outside since it is not test code.

All Travis does is execute whatever you define as a test.  By default, this is just `npm test`, which runs the script in package.json called `test`, which we set above.

[2016-05-30 09:07] howardchung commented on #268
It also looks like the test for requestMatchDetails that I added got lost:

https://github.com/RJacksonm1/node-dota2/commit/7ac07173b3808a15354cfa89053e010c3f06af90

[2016-05-30 09:15] Crazy-Duck commented on #268
This is why I didn't like the whole different unsynchronized branches shenanigans :p
We might wanna create a separate folder for the examples honestly, so we don't clutter the root too much.

[2016-05-30 09:19] jimmydorry commented on #268
Yea, already working on it. https://github.com/RJacksonm1/node-dota2/pull/275

Will ping you in there in a few secs, when it's ready.

[2016-05-30 09:49] jimmydorry commented on #268
Thanks for pointing this out @howardchung

[2016-05-30 09:50] Crazy-Duck commented on #268
Seems like you messed up somewhere, Travis is haemorrhaging
https://travis-ci.org/RJacksonm1/node-dota2

[2016-05-30 09:59] jimmydorry commented on #268
Probably from versioning syntax. Didn't know it had to be x.x.x and not x.x

[2016-05-30 10:32] howardchung commented on #268
This can go in master.

[2016-05-30 10:33] howardchung commented on #268
It looks like there's a problem with test.js though:

https://travis-ci.org/RJacksonm1/node-dota2/jobs/133879728

[2016-05-30 10:53] Crazy-Duck commented on #268
Seems like we're missing another proto file, the enum doesn't seem to exist anymore.. What's worse is the entire EDOTAGCMsg subschema is gone from the protos we host. Gonna see if I can find where they've put it.

[2016-05-30 10:55] jimmydorry commented on #268
Might be easier to just dump them all in there, and pare it back.

[2016-05-30 10:56] Crazy-Duck commented on #268
gottem dota_gcmessages_msgid.proto

[2016-05-30 10:56] Crazy-Duck commented on #268
I'll make a pull

[2016-05-30 11:04] jimmydorry commented on #268
![image](http://i.imgur.com/deMoVu6.png)

[2016-05-30 11:05] Crazy-Duck commented on #268
Rofl, I'm testing everything in example.js to see if we've missed some other stuff. Valve seems to have been sick of their ginormous proto files and started to repartition everything in separate files by subject :p

[2016-05-30 11:44] Crazy-Duck commented on #268
Seems like we'll have to redo most of team.js. All protomessages except  for CMsgDOTAProTeamListRequest have disappeared

[2016-05-30 12:03] Crazy-Duck commented on #268
LOL, why didn't we notice this sooner :p k_EMsgClientToGCAddTI6TreeProgress

[2016-05-30 12:32] Crazy-Duck commented on #268
ROFL, no serverside validation whatsoever
[code]
Challenge could've been over in 10m :p

[2016-05-30 14:21] jimmydorry commented on #268
It's a button just waiting to be pressed.

[2016-05-31 07:10] jimmydorry commented on #268
Fire = fought :fire: :fire_engine: :fireworks:

[2016-05-31 07:10] #268 closed

[2016-05-31 07:11] jimmydorry commented on #269
Original issue should be resolved now. New version will be in npm soon

[2016-05-31 07:11] #269 closed

[2016-05-31 16:22] #265 closed

[2016-05-31 16:23] #247 closed

[2016-05-31 16:23] jimmydorry commented on #247
This was probs done ages ago.

[2016-06-02 06:28] Crazy-Duck opened #279 "requestProTeamList down"
Issue for posterity

Writing tests, `CMsgDOTAProTeamListRequest` no longer gets a response from GC.
Adding comment to README

[2016-06-02 06:28] #279 closed

[2016-06-02 07:37] jimmydorry commented on #279
That was a quick turn around! :smile:

[2016-06-02 09:49] Crazy-Duck commented on #279
Yeah I immediately closed it since it's no use leaving it open. I just created it so there'd be a trace in the issues in case someone shows up asking questions :) I'm preparing a pull with some README modifications indicating the stuff that no longer works and the stuff for which the proto's have disappeared. I'm commenting all functions for which the protos are gone and adding comments to all tho

[2016-06-02 09:50] jimmydorry commented on #279
I'm just joshing you. :P

[2016-06-02 12:39] mehdi-kaytoue commented on #258
Hey guys,
what is the in game  api you are speaking about?
Even with a limit, I'd like to download replays for which I have an id.
Thanks a lot!
Cheers,
Mehdi

[2016-06-02 12:44] Crazy-Duck commented on #258
The ingame API is the API your Reborn client uses. Your client communicates by means of protobuf messages with Valve's game coordinator and matchmaking servers. The node JS library to which this GitHub project is dedicated is a reverse engineering of the protobuf protocol the reborn client uses. This library allows you to act as if you're a legitimate client (to a limited extent). One of the funct

[2016-06-02 12:45] Crazy-Duck commented on #258
BTW, I'd appreciate it if you'd open a new issue when you have questions, it's considered bad form to comment on issues which have been closed months ago..

[2016-06-02 12:46] mehdi-kaytoue commented on #258
Oh, thanks a lot! I get it now.
Sorry for reopening!

[2016-06-09 18:49] SmaugTheGreat opened #280 "sometimes request just hangs the program and never returns"
So I have the code like below. It should theoretically just request a profile card and then when it got the result it should request the next one. However, after a random amount of requests (usually 10) it just hangs. The last debug message I get is `9 Jun 20:39:48 - Sending profile card request
`. I don't know if it is due to steam connection problems, but there doesn't seem to be any method for

[2016-06-09 21:56] jimmydorry commented on #280
There are going to be rate limits, and the GC can be quite unstable. That kind of logic sounds better implemented in the bot than the library... but I defer to @Crazy-Duck on this one.

[2016-06-09 23:10] SmaugTheGreat commented on #280
But this is a problem. I would love to just build the timeout logic myself, but it will cause it to leak memory as I send the callback (and all its captured variables) with the request and have no way to remove it from memory.

[2016-06-10 05:55] Crazy-Duck commented on #280
Yeah, you're probably running into rate limiting issues, the GC doesn't really like people slamming it with too many requests in a short time-frame. That's why Valve changed the client itself so you need to actually rightclick player images now before the profile card loads. This rate-limiting behaviour should be built into the bot itself as @jimmydorry is saying, we can hardly impose arbitrary li

[2016-06-10 05:59] jimmydorry commented on #280
Well answered! Keep an eye on https://github.com/Crazy-Duck/node-dota2-bot @SmaugTheGreat

[2016-06-10 05:59] #280 closed

[2016-06-13 14:24] ZiRoger opened #286 "Human player stuck in invisible bot's lobby"
Bot can create the lobby and invite human player. But once the player accepted the invitation, he could see no lobby detail  window but a "back to lobby" button in the lower right corner. And clicking it wounldn't pop the lobby window either. The player would stuck in this state, only a force_leave_game_button in console could help. Is this a bug or only my config error? Need help, thanks.

[2016-06-13 14:41] Crazy-Duck commented on #286
It would be helpful if you'd provide us with the code you're using to set up and configure the lobby...

On 13 Jun 2016 4:24 p.m., Roger <notifications@github.com> wrote:

Bot can create the lobby and invite human player. But once the player accepted the invitation, he could see no lobby detail window but a "back to lobby" button in the lower right corner. And clicking it wounldn't pop the lobby w

[2016-06-13 16:28] ZiRoger commented on #286
Basically, I just ran the example2.js in dev branch, and added an inviting function call.
[code]

[2016-06-14 06:30] Crazy-Duck commented on #286
Hmm, can you try and pass some additional options? So instead of lobbyName, pass an object like this one
[code]
It might be that there's a minimum amount of options that need to be set in order for a player to be able to actually join...

[2016-06-14 09:13] ZiRoger commented on #286
@Crazy-Duck It works! Thanks a lot. By the way, the example2.js should be updated a bit.

[2016-06-14 09:13] #286 closed

[2016-06-14 13:39] Crazy-Duck commented on #286
Did you check which options are required and which ones are optional? If not I'll look into making a pull with an update that contains the entire object.

[2016-06-15 20:31] ammuench opened #287 "Request to add to npm"
Hey, love the work you guys have done.  Just wondering if you'll be adding your repo to NPM any time soon?  We've been working on some projects with it and it'd be helpful for us going forward (we've just been using the direct git link format in the meantime)!

Thanks!

[2016-06-15 20:33] pendo324 commented on #287
@ammuench I might not be who you want to hear from, but here it is on npm: https://www.npmjs.com/package/dota2

[2016-06-15 20:49] ammuench commented on #287
Yep, I completely whiffed that.  Need some more coffee this afternoon, haha.  Sorry guys, thanks for the help

[2016-06-15 20:49] #287 closed

[2016-06-15 21:14] pendo324 commented on #287
@ammuench haha, not a problem man. I was a bit surprised the first time, when I learned it was just "dota2" on npm.

[2016-06-15 21:14] Crazy-Duck commented on #287
Be careful, npm is not yet up to speed with git. If I recall correctly it's on 3.x.x while git is at 4.x.x we'll do a new push in the coming days/weeks as soon as we got some last things ironed out

On 15 Jun 2016 10:49 p.m., Alex Muench <notifications@github.com> wrote:

Closed #287.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2016-06-15 21:22] pendo324 commented on #287
@Crazy-Duck It looks like rjackson published 4.0.0 to npm 2 weeks ago

[2016-06-15 21:40] Crazy-Duck commented on #287
Huh, TIL. Hadn't noticed it yet. In any case, there's some stuff that's been added in the mean time. It's mostly tests, but we've had to deprecate a few functions since Volvo stopped supporting them

[2016-06-16 16:06] JayFialkowski opened #291 "On Chat Leave - null pointer exception"
The "onChatLeave" event seems to be triggered incorrectly, and the following line of chat.js throws an error:

`if (this.debug) util.log(otherLeft.steam_id + " left channel " + channel.channel_name);`

Stack Trace:

    at Dota2Client.onOtherLeftChannel (/root/node-lobby-bot/node_modules/dota2/handlers/chat.js:205:81)
    at SteamGameCoordinator.fromGC (/root/node-lobby-bot/node_modules/dota2/inde

[2016-06-16 22:07] jimmydorry commented on #291
Thanks, will look at this shortly.

[2016-06-17 05:53] Crazy-Duck commented on #291
It's an old bug, been around since I reworked chat in 2.0.0 I think. Basically it only happens when you didn't properly disconnect the from the GC, after having joined a chat channel. If you reconnect to GC soon after, the GC assumes you're still in the chat (disadvantage of a heartbeat system). So when someone leaves the channel, you still get the events, but as your bot no longer has the channel

[2016-06-17 08:06] ZiRoger commented on #286
So sorry that I didn't check which options are necessary. I am now busy on making my bot just working.

[2016-06-17 08:10] Crazy-Duck commented on #286
eh, don't sweat, I'm sure we'll know some day :p

[2016-06-18 15:31] JayFialkowski commented on #291
Thanks for the quick response. I figured it was a result of a crash not allowing GC/Steam to disconnect correctly.

[2016-06-18 22:07] JayFialkowski opened #292 "Bot-hosted lobby results in all members being in same voice channel"
Any lobby hosted via the bot results in all players and broadcasters being on the same voice channel in-game, and hearing each other. Obviously, this is bad. What could possibly be causing this?

Below is an example Lobby snapshot

    hero_id: null,
    team: 4,
    name: 'Bot',
    slot: 0,
    party_id: null,
    meta_level: null,
    meta_xp: null,
    meta_xp_awarded: null,
    leaver_status:

[2016-06-18 22:44] Crazy-Duck commented on #292
That seems weird (and weirdly interesting)... Can you post the steps you take to create the lobby, how the players join (are they bots too or real client), if possible with code samples?

[2016-06-18 23:27] JayFialkowski commented on #292
I'll do my best to share the relevant bits. The bot is controlled remotely via Discord.

User creates a lobby via command in discord. That executes:

`
Dota2.createPracticeLobby(password,options,
			function(err, body){
				if (body && body['result'] == 1) {
					Dota2.joinPracticeLobbyTeam();
					Dota2.joinChat("Lobby_"+Dota2.Lobby.lobby_id,3);
					success();
				}
				else {
					console.log(e

[2016-06-19 00:03] JayFialkowski commented on #292
Here are two logs of the lobby object, before and after launching the game. There's one person as a broadcaster, one on radiant and one on dire. The bot is in spectators. All users can hear each other in game.

https://gist.github.com/JayFialkowski/abffa74fccbbf8f6d1670c6d963ec5dd

[2016-06-19 03:37] jimmydorry commented on #292
Have you tried allchat: false?

[2016-06-19 11:06] Crazy-Duck commented on #292
Alright, let's look at the lobby log:
* SatanBot
 * team: 4
 * channel: 6
* Jasus
 * team: 2
 * channel: 0
* Soranos
 * team: 1
 * channel: 6
* Moxxi
 * team: 0
 * channel: 6

So there's a few things we can see here:
* Your bot is in the player pool, not in a spectator slot (is confirmed by `num_spectators: null`)
* Everyone except for the broadcaster seems to be in channel 6

The fact that everyo

[2016-06-19 11:10] Crazy-Duck commented on #292
@paralin you've got some experience creating lobbies if I recall correctly, have you ever seen this problem?

[2016-06-19 11:30] jimmydorry commented on #292
Channel is to do with allchat, I believe. Something you have set to true.

[2016-06-19 14:26] JayFialkowski commented on #292
Yeah guys, apparently the allchat doesn't do what I assumed it did. This was a developer error, thanks for your time!

[2016-06-19 14:26] #292 closed

[2016-06-19 21:37] jimmydorry commented on #292
@Crazy-Duck lol, every duck must have it's day. I totally called it.

[2016-06-20 06:18] Crazy-Duck commented on #292
Congrats :p I'm gonna add a comment in the README at one point though, this seems like something useful to add. It's a nice touch, gives a whole new dimension to the world of bm xD

[2016-06-20 06:44] jimmydorry commented on #292
I only recall it due to the way d2ware custom game lobbies worked, where by default, everyone was voicing each other.

[2016-06-21 18:38] Crazy-Duck commented on #240
I've finally gotten a chance to look at some nethook traces of the client when you're checking out the watch tab.
_**Conclusion:**_ There's some messages to get top sourcetv games, top friend games etc... However, this evidently only returns the teams info, player names, lobby id's etc. The information about map position, kill-score, ... is not retrieved via protobuf messages. I presume the client

[2016-06-24 07:26] Saicheg opened #295 "Ability to pass a proxy to requestMatchDetails"
Hey!

Regarding documentation:

[code]

So i am thinking if it's doeble/realistic to add proxy-server option for this method call, or somewhere else?

[2016-06-24 07:31] jimmydorry commented on #295
That doesn't sound like something that should be part of the library. You should look at making logic within your bot to handle this. I should warn you though, that there are various IP restrictions set too, so you won't simply be able to run dozens of bots on the same IP.

[2016-06-24 07:34] Saicheg commented on #295
@jimmydorry great. If you can tell me some restrictions you faced with - it would be really helpful ?

[2016-06-24 07:34] Crazy-Duck commented on #295
Be careful as well, this is an issue which has popped up in the past on the node-steam pages as well. See [here](https://github.com/seishun/node-steam/issues/140) for more information. Basically using proxies is against the Stea Subscriber Agreement, so you shouldn't be using one. Since node-dota2 does not do any networking, and relies on node-steam for that, we basically just follow their policy

[2016-06-24 07:37] Crazy-Duck commented on #295
Basically, if you're planning on trying to circumvent the rate-limiting on the methods by using proxies, you'll probably get your account banned. The 'proper' way to do things is having multiple accounts running from multiple IP's.

[2016-06-24 07:38] jimmydorry commented on #295
You will know when you are rate limited. Just design with scaling kept in mind. It violates the spirit of it all if it was easy to know where the limits sit.

[2016-06-24 07:39] Saicheg commented on #295
@Crazy-Duck @jimmydorry thank you guys both for answers and for great library. Closing this issue.

[2016-06-24 07:39] #295 closed

[2016-06-27 15:39] rsage28 opened #296 "Example dota2 require error"
I am trying to run the example files, and it returns this error on the line where it tries to require the dota2 module.
[code]
I also get this when trying to run the test file. What I have in the config file does not seem to affect the output of the test or the example.
[code]
JavaScript is not my forte, could somebody shed some light on this for me please?

[2016-06-28 03:50] jimmydorry commented on #296
Which example did you run? Did you make a config file? Not enough info to help you.

[2016-06-28 05:48] Crazy-Duck commented on #296
From the test file it seems you get an `eresult: 5`. If you check out handlers\helper.js, you'll see this: `k_EResultInvalidPassword : 5, // password/ticket is invalid`. So imma hazard a guess and say you've made a typo in your password.

[2016-06-28 05:50] jimmydorry commented on #296
`test.js` is the one that users shouldn't run... as it's for coverage testing. Simply running it will give the error 5, as no one should know its password, except travis.

We need more info on why the first script he run didn't work, as we literally have no idea what he did.

[2016-06-28 05:54] Crazy-Duck commented on #296
You can run test.js locally if you want though, it suffices to set the `STEAM_USERNAME` and  `STEAM_PASSWORD` environment variables. I do it all the time when I'm making new pulls. However I agree that it's pretty much useless if you want to actually see an example of how to use the library. I might rearrange the README at one point to put those two paragraphs at the end at the top.

[2016-06-28 06:18] Crazy-Duck commented on #296
@chardzard if you're running example2.js, make sure that the reference to node-dota2 is correct. In the version on the master and dev branches it references `require('./')` instead of `require('../')` (artifact of when the file was located at the root of the repo. I've made pull #297 to fix this.

[2016-06-28 11:33] #291 closed

[2016-06-28 17:59] chardzard commented on #296
I get the same error when running both example files. @Crazy-Duck I did change that, and I still get the error shown. It points me to an error in index.js that I'm not sure what it means. I am attempting to write a chat bot that will monitor a chat to send invites a private chat lobby.

I just read in the README about running the test file, so I was trying it out. Good to know I don't need to touc

[2016-06-30 16:33] salacryl opened #302 "Chat command"
Hi,

besides sendMessage I can't find any function to use things like "/privatechatkick". If I use sendMessage it only appears in the chat without invoking the command itself.

Any Ideas?

Greetings,
Björn

[2016-07-01 06:10] Crazy-Duck commented on #302
I think you've got the wrong idea of how chat works in Dota 2. Check out handlers/chat.js, that's where all the magic is happening. Basically, when you invoke sendMessage, you're basically doing just that: sending a text message. At this time the only chat functions we've implemented are:
* `CMsgDOTAJoinChatChannel`
* `CMsgDOTALeaveChatChannel`
* `CMsgDOTAChatMessage`
  * sending text
  * sharing

[2016-07-01 06:21] Crazy-Duck commented on #296
@chardzard can you list the exact steps you've taken when you're trying to set up the example files? The correct way to set things up to execute the example files is

1. install latest version of node js (either 4.4.7 or 6.2.2)
1. clone the repo
1. navigate to the repository root
1. npm install steam (not sure if this is still necessary, but it can't hurt)
1. npm install
1. create a config.js file

[2016-07-01 06:22] salacryl commented on #302
Yes I'm even further now. I compiled Nethook2 to translate the eMsg and  to extend your code.
Thanks for the Input.

[2016-07-01 06:23] howardchung commented on #296
if steam is listed in package.json, then npm install will install it.

On Thu, Jun 30, 2016 at 11:21 PM, Crazy-Duck <notifications@github.com>
wrote:

[2016-07-01 06:24] Crazy-Duck commented on #302
These are the corresponding eMsg types:
[code]

[2016-07-01 06:26] Crazy-Duck commented on #296
There used to be an issue which required you to install steam separately as well. If this is no longer applicable, I'll remove that part from the README :)

[2016-07-01 06:32] howardchung commented on #296
Once upon a time, it was a peerDependency instead of a dependency:

https://github.com/RJacksonm1/node-dota2/commit/d9d5f956a52fa7dce842a414d667dac2a4d1c2d8#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R9

[2016-07-01 06:36] Crazy-Duck commented on #296
Alright, I'll remove that from the README then next time I'm doing a pull

[2016-07-01 11:36] salacryl commented on #302
@Crazy-Duck Ty, THIS was really helpful.
Good work with the prototypes. Easy Implementation for me. Worked - as you mentioned - pretty sraight forward.

Greetings,
Björn

[2016-07-01 11:37] #302 closed

[2016-07-01 11:59] Crazy-Duck commented on #302
Don't forget to make a PR :D

[2016-07-03 11:41] salacryl opened #303 "Question: Personaname to Friend ID?"
HI,

can I convert PersonaName to FriendID? I don't find such a function in the code.
Greetings Björn,

[2016-07-03 11:43] Crazy-Duck commented on #303
Don't think it's possible. Persona names are not unique afaik, so it would be impossible to divine which id corresponds to one..

[2016-07-03 11:46] salacryl commented on #303
But if I click on guy's name in a chat, the official client referse to his profile. So there must be a thing how to get to this.

[2016-07-03 11:53] Crazy-Duck commented on #303
That's because the the object you're clicking is associated with the accountid of that user. The reborn client asks the GC the user list for the channel, which responds with a list of user objects.  Each one of those contains among others the account id and persona name of each user. The reborn client creates a panel for each user which shows the persona name, but is linked to the I'd as well. At

[2016-07-03 12:06] salacryl commented on #303
Ok, I can get this if people joining (regarding to onOtherJoining), but I can't get this list on my own?

[2016-07-03 12:10] salacryl opened #304 "Issue: same chatchannel names"
if a custom chat and a private chat shares the same name, you can't choose in which one you want to  send a message.
Maybe add type to sendMessage?

Greetings,
Björn

[2016-07-03 15:37] Crazy-Duck commented on #303
When your bot itself joins the chat channel, you receive a list of all people currently in the channel, it's in the response.  Then there's also the following functions (which haven't been implemented yet, so feel free to contribute):
* `CMsgDOTAChatGetUserList` -> `k_EMsgDOTAChatGetUserList`
* `CMsgDOTAChatGetUserListResponse` -> `k_EMsgDOTAChatGetUserListResponse`
* `CMsgClientToGCPrivateChatInf

[2016-07-03 15:40] Crazy-Duck commented on #304
Any reason why you're giving the same name to different chat channels?

[2016-07-03 20:33] salacryl commented on #304
If the protocol allows it, do we really need to discuss why?

[2016-07-03 22:22] Crazy-Duck commented on #304
Not really no, I was just curious ☺️ I'll see what I can do this week, probably as a second optional parameter.

[2016-07-03 22:33] jimmydorry commented on #304
Understanding why you would ever want to do that, may motivate someone to implement it for you... otherwise putting it at the bottom of the queue. :|

[2016-07-04 06:04] salacryl commented on #304
If you want to do so. Look: if it is possible by origin, OF COURSE people will do. I can't speak for all of them. This is how I test software. I don't change the purposes until they fit into the software, I change the software until it fits into the purpose.
The user who want the bot has already his channels with >4000 chatusers. I guess it was easier to have them the same name.
It is the first ti

[2016-07-04 06:22] jimmydorry commented on #304
No it doesn't matter, but common courtesy is free too... and highly recommended when you are asking for people to spend their time doing something largely irrelevant to their own needs/usage.

[2016-07-04 06:27] salacryl commented on #304
Why I have to repeat so often: if it a legal purpose to do so it isn't irrelevant. Ok I got it, it's your project and all users of this must provide they movivation beforehand.
Sounds like I'm on my own. Thank you for the help. Appreciated.

[2016-07-04 06:32] jimmydorry commented on #304
It's straight forward to extend the library, and @Crazy-Duck even offered to do it later in the week if he gets time.

I just think the way you were speaking was needlessly aggressive and mean-spirited... when the work done here is done freely and to help others as a consequence of our own labours. Perhaps it's a language barrier issue, but you are coming across as very rude, to me.

If you end up

[2016-07-04 06:41] salacryl commented on #304
Wait. You think I'm mean-spirited and also I'll do a pull request to share? This doesn't fit. No, I'm not mean spirit. I'm upset of how some people handle they projects. If you don't want to spend your time to fit in in peoples downstream projects, why even bother starting?
Look: I created a github account, I looked into the process of "how to fork and provide" to get an sharing process between us

[2016-07-09 16:56] salacryl commented on #302
PR is out :)

[2016-07-10 11:40] rafaelcastrocouto opened #306 "[discussion] User management with node-dota2"
Hi Jack,
Gratz, your code is awesome!
I'm considering the possibility of making all user login and chat features for my game with node-dota2. The game has a nodejs server on heroku and is already available to play at [dotacard.ga](http://dotacard.ga) and the repository is also on [github](http://github.com/rafaelcastrocouto/dotacard).
Before I jump into your code, I thought it would be smart to as

[2016-07-10 16:00] Crazy-Duck commented on #306
First and foremost, our lord and saviour is called Sir Robert Jackson. Now that that's out of the way, it seems to me you're trying to hammer a nail using a screwdriver. If I understand correctly, you're looking notably for an easy login protection for your personal game, so you can recognize players when they come back. This library will not help you with that. Node-dota2 is a wrapper around the

[2016-07-10 16:10] rafaelcastrocouto commented on #306
Thank you sooo much Crazy-Duck,
Your answer spared me a lot of useless reading (and most probably coding).
Sorry about your saviour ... all hail Lord Robert Jackson!
Thx again

[2016-07-10 16:10] #306 closed

[2016-07-10 18:34] SmaugTheGreat opened #307 "Incompatibility with node-steam-user"
When I try to use node-steam-user together with node-steam and node-dota2, it gets stuck on "Sending ClientHello". I don't know whether it is node-steam-user's fault or node-dota2's fault.

Code:
[code]
Output:
[code]

[2016-07-10 18:48] SmaugTheGreat commented on #280
@Crazy-Duck I tried to space out the requests so that there's 30 seconds between them but the problem remains. My timeout logic is memory-leaking because it stores a closure+callback together with the request which then is hold in memory for infinite duration or until I disconnect the client.

[2016-07-10 21:59] jimmydorry commented on #306
Or more specifically, you may be looking for Valve's OpenID. http://steamcommunity.com/dev

You can read about openID anywhere, as it is a standard. Plugin the valve openID url, and away you go!

[2016-07-10 22:01] jimmydorry commented on #307
Those need to be var, not let... I believe.

Try running the example.js with working config.js

[2016-07-10 23:00] SmaugTheGreat commented on #307
The example works because it is not using node-steam-user. The problem only occurs with node-steam-user, but not with the normal Steam.SteamUser.

As I said, I am not sure whether this is because of node-dota2 or because of node-steam-user, but one of these two libs doesn't seem to work with the other.

Replacing the let's with var didn't have any effect.

[2016-07-11 00:03] rafaelcastrocouto commented on #306
Thx a lot jimmy, I already got my Steam Web API Key!
Although I don't use express and I usually try do go deep in every detail of what I'm coding (trying hard not to reinvent the wheel) ... after reading a little, I still think I'm going to use passport-steam.
Basically cuz I can use passportjs to easily implement some other login strategies like google and facebook ... and I also cuz want to solv

[2016-07-11 07:51] Crazy-Duck commented on #307
Here's what I *think* is happening: by using a third party library to log in the steam user, the node-steam client instance does not get properly logged in. Since node-dota2 relies on having a logged in node-steam client instance to be able to send messages to the Dota 2 Game Coordinator, node-dota2 can never establish a connection with the GC

[2016-07-13 23:15] jimmydorry opened #308 "Valve: Stop making gambling sites via Valve infrastructure"
http://store.steampowered.com/news/22883/
# In-Game Item Trading Update [13 Jul]

In 2011, we added a feature to Steam that enabled users to trade in-game items as a way to make it easier for people to get the items they wanted in games featuring in-game economies.

Since then a number of gambling sites started leveraging the Steam trading system, and there’s been some false assumptions about our

[2016-07-13 23:48] howardchung commented on #308
Clearly we need to add a patch that checks the hostname of the machine running the library and refuses to run if it detects anything gambling related. :)

[2016-07-13 23:50] jimmydorry commented on #308
Haha. Well, let's all be careful.

This opening shot against gambling sites is but just the first step Valve could take that could negatively impact all of us.

It would be a shame if they end up just doing a blanket ban on all kinds of bots.

[2016-07-14 05:26] Crazy-Duck commented on #308
Thing is, I could actually see them going that way. For the moment they still rely on bots to organize their open qualifiers (I think FaceIt uses @paralin 's library), however now that they're starting to experiment with the weekend tourneys, I could very well see them organizing these themselves in the future. Once They don't rely on them anymore, they could start banning them...

[2016-07-14 05:28] jimmydorry commented on #308
Absolutely :(

[2016-07-14 05:30] Crazy-Duck commented on #308
It would be a shame though, there's a lot of communities that are maintained by bots, lots of cool functionality as well. Not to mention quite a few streamers who use them to inform chat of MMR stats etc..

[2016-07-15 07:20] niliur opened #313 "Requestmatches only obtains very short matches"
I'm building a bot that will download the replays of the most recent games in the GC. So far I'm able to get the match ID using requestmatches and download them by getting the match details using the http://replay<cluster>.valve.net/570/<match_id>_<replay_salt>.dem.bz2 link. However all the replays I've downloaded using this method end in less than a few minutes due to someone disconnecting in gam

[2016-07-15 07:53] jimmydorry commented on #313
You probably want to be using the webAPI to find matches to download.

Match IDs are created at the start of the game, and as you can imagine, this means that longer running games get buried when they finally report they are done.

 There is a webAPI method for getting matches in sequence, rather than by finishing time. `GetMatchHistoryBySequenceNum`

http://dev.dota2.com/showthread.php?t=58317

[2016-07-15 09:30] Crazy-Duck commented on #304
Updated in dev and staging

[2016-07-15 09:30] #304 closed

[2016-07-16 07:26] niliur commented on #313
Thanks, that explains why the replays always end very quickly.

I'm not sure if this is the right place to ask about the webapi, but after making the call I receive matchids that are only 3 digits long, seems like either they are not allowing people to find the matchid this way or I've done something wrong.

[code]

[2016-07-16 07:45] niliur commented on #313
Update: I was able to get actual match_ids by using the dota 2 beta test api instead of the beta api.

Wonder why that made a difference.

[code]

[2016-07-16 09:57] niliur commented on #313
Thanks for your help Jimmydorry, I was able to figure it out and get my replays! Disregard the posts that I deleted, after figuring it out I felt quite silly.. Your guide was very helpful, thanks for helping out a newbie.

[2016-07-16 09:57] #313 closed

[2016-07-19 08:34] Crazy-Duck commented on #303
I did some tinkering with `k_EMsgDOTAChatGetUserList` but it doesn't seem to return anything. On the other hand, node-dota2 automatically keeps track of all people joining and leaving the channel. The `chatChannels` property contains an array of all chat channels you've joined, with their current member list.

[2016-07-20 13:10] leovarmak opened #316 "Search function is really bad"
Hey !

The search function is really bad. I don't mean to be rude tho. I respect you people. I tried to search my account in many ways and I always end up with  **NOT FOUND** . Haha .
Well my game profile is "Amanda Rosset" . I did a series of queries to test it. Here are pics

![screen shot 2016-07-20 at 6 23 11 pm](https://cloud.githubusercontent.com/assets/14135553/16987344/512ac20a-4ea9-11e6-8

[2016-07-20 13:38] Crazy-Duck commented on #316
Well, the main thing that's wrong is that you're posting your issue in the wrong repository :D The people over at Yasp are well-esteemed colleagues who hang out here from time to time, however, this is just the repo for one of the many libraries they use within the Yasp ecosystem. I'm afraid there's very little we here at node-dota2 can do for you. You're asking the farmer to change the way the ba

[2016-07-20 13:38] #316 closed

[2016-07-20 13:52] leovarmak commented on #316
@Crazy-Duck I actually wanted to comment on the recent value decision in the open issue. So somewhere I mixed up the tabs and ended up here. Sorry !
such and awkward situation xD

[2016-07-20 18:00] Crazy-Duck commented on #316
no problem, everyone messes up from time to time :p you're always welcome to contribute to the library if you'd be so inclined, we're always looking for contributors :D

[2016-07-29 12:53] Noxville opened #320 "2FA Support"
Hey, currently getting SteamError #85 AccountLoginDeniedNeedTwoFactor.

I was wondering if there was an easy way to configure this for one-off connections (so, you type the code into your config.js file and execute it). Unsure really at what level to try solve this.

[2016-07-29 13:05] Crazy-Duck commented on #320
As far as I know you need to run the log-on process twice, while making sure you have an empty sentry file present before you start running. The first time you log in to trigger the steamguard code generation, the second time you can login with the steamguard code as an entry in your config.js. At that point a sentry-hash will be written to the sentry file for future usage and you can remove the s

[2016-07-29 13:10] Noxville commented on #320
Yeah I've followed that process before, it's not applicable since the introduction of 2FA via mobile app.

https://github.com/seishun/node-steam/wiki/Protobufs#cmsgclientlogon documents the log on details definition and as a result how you can add an additional field (which you could add to the config, but would need to also add to pass to steamUser.logOn(details).

var logOnDetails = {
    "accou

[2016-07-29 13:10] #320 closed

[2016-07-29 13:14] Crazy-Duck commented on #320
There is unfortunately no way around the tediousness of having to specify this each execution, since this is the core purpose of that second factor; it pretty much NEEDS to be different on each login. We usually recommend using dummy throwaway accounts without 2FA/steamguard when you're in development/test and only to switch to 2FA for the actual always-online production runs.

[2016-07-29 13:17] Noxville commented on #320
Yeah I understand, no problem.

Unfortunately I'm writing something that needs my current account (Fantasy Cards) so no other way around.

[2016-07-29 13:28] Crazy-Duck commented on #320
In that case there is indeed no way around it :)

*Disclaimer*
I'm gonna assume that you're experienced enough to understand the risks of using your own account in conjunction with this library, however for the potentially less experienced users who might one day stumble upon this issue: _we do not in any way encourage people to use their own accounts when using this library_. This library tries t

[2016-07-29 14:35] Noxville commented on #320
Slightly off-topic, but would you mind giving me a hand with some code I'm writing? Unsure the best way to contact you and there's no #node-dota2 IRC group or something.

[2016-07-29 14:38] howardchung commented on #320
@Crazy-Duck  that disclaimer is worth a section in the README :)

[2016-07-29 14:55] Crazy-Duck commented on #320
@noxville send me a mail : jobuyse [at] gmail

@howard I'll add it when I make the pull for the contribution.md 😊

[2016-07-30 18:07] ZiRoger commented on #250
I just figured out how to get the regional channel list. You can never get the list through nethook, since it is saved in a vpk file which locates

 And then you will need GCFScape.exe to extract the file

I have uploaded the file
[chat_regions.txt](https://github.com/RJacksonm1/node-dota2/files/392029/chat_regions.txt)

[2016-08-18 12:07] Prosto-Sanja opened #326 "respondPartyInvite not wotking"
Hello,
`Dota2.respondPartyInvite(party.group_id, false);`
 is not working properly, and throws
`Error: .CMsgPartyInviteResponse#as_coach is not a field: undefined`
As i understand, it just tries to use a wrong proto file, but i dont know how they work, so any suggestions??

[2016-08-18 12:10] Prosto-Sanja commented on #326
Found fix temporary fix, changing
`// Methods`
`Dota2.Dota2Client.prototype.respondPartyInvite = function(id, accept) {`

to this solves problem, but i think it is temporary solution only

_var payload = new Dota2.schema.CMsgPartyInviteResponse({
        "party_id": id,
        "accept": accept
    });_

[2016-08-18 12:38] uSide opened #328 "Lobby launch problem"
I can't start game after launchPracticeLobby() because bot not connecting to game as spectator. Can anyone help me?
Steps to reproduce:

- Create lobby

- Invite player to lobby

- Launch lobby

- Game fails after timeout

![screenshot](https://puu.sh/qFGO1/f5a2f75cb1.png)

[code]

[2016-08-18 13:22] Prosto-Sanja commented on #328
Cannot reproduce, bot works as unassigned player perfecly

[2016-08-18 13:23] Prosto-Sanja commented on #328
Cannot reproduce, bot works as unassigned player perfecly
unassigned team is id 4
`Dota2.joinPracticeLobbyTeam(2, 4);`

[2016-08-18 13:36] Crazy-Duck commented on #328
This is 'normal' behaviour. We only interact with the GC. So if you put your bot in an actual lobby slot (i.e. spectator, broadcaster, team, ...) the game server expects them to connect to the game server on which the game will be played. Seeing as this library contains no functionality to do this, it's logical that your game will time out. If you want your lobby to actually start, you need delete

[2016-08-18 13:38] Crazy-Duck commented on #326
The new protobuf seems to be
[code]
`as_coach`, `team_id`, `game_language_enum`, `game_language_name` have been removed in a recent update. We're gonna have to find out how the ping_data is determined, seems like nethook time!

[2016-08-18 13:40] Prosto-Sanja commented on #326
I made a tempoorary pull request, it all seems to workwit only two parameters, i tested.

[2016-08-18 13:42] uSide commented on #328
Thanks :+1:

[2016-08-18 13:42] #328 closed

[2016-08-24 09:25] gerlaic opened #329 "Is there any way that I can get skill bracket?"
I know the skill bracket was in valve's api and the return info from requestMatchDetails() but it looks like it has been gone for a while. Is there any other way that I can find it? #

[2016-08-25 02:17] howardchung opened #330 "new postgame details"
It appears that the new postgame details for any match are available for all users.  Are they in the existing requestMatchDetails call (and just requires a protobuf update) or does it come from a different call?

[2016-08-26 13:22] #266 closed

[2016-08-29 06:54] Crazy-Duck commented on #330
As far as I can see all info should be present in the requestMatchDetails call. The CMsgDOTAMatch object has been enriched with a whole bunch of extra information. Picks, bans, item and ability progression are now all available in the call.
[code]

[2016-08-29 06:59] Crazy-Duck commented on #330
This might actually be pretty good for Yasp. It means you won't need to store item and ability builds anymore, you can just request them on the fly..

[2016-08-29 07:25] Crazy-Duck commented on #330
I'll see if I find some time to nethook the post)game screen this week and I'll update the issue if I find something.

[2016-08-29 07:32] Crazy-Duck commented on #329
@howardchung how do you guys obtain the skill bracket for a game? Do you grab it from the replay?

[2016-08-29 07:36] howardchung commented on #330
Ability builds were always in the webAPI.  Item builds are new, but we get that from parsing the replay anyway.

[2016-08-29 07:38] howardchung commented on #329
No, you can use the GetMatchHistory endpoint with a skill parameter to get up to 500 recent matches in that skill bracket.  I describe it briefly here: https://blog.yasp.co/2016/05/15/architecture/

[2016-08-29 09:23] Crazy-Duck commented on #329
The equivalent in node-dota2 is `requestMatches` in [handlers\match.js](https://github.com/Arcana/node-dota2/blob/staging/handlers/match.js).

[2016-08-29 09:30] howardchung commented on #329
I have not confirmed that endpoint can be filtered by/contains skill.

In any case, to get skill data for a lot of matches you need to make a lot
of calls rapidly (since you can only get the last 500, if you don't get the
skill for a match before it moves out of the window, you're out of luck),
you may not want to do this to the GC.

On Mon, Aug 29, 2016 at 2:23 AM, Crazy-Duck <notifications@githu

[2016-08-29 09:41] Crazy-Duck commented on #329
It's one of the optional criteria you can specify when you make the call:
[code]

Then again, I agree that one should be nice to the GC and that the webAPI might be better suited for this.

[2016-08-29 13:21] kprodinfo opened #333 "Player panel."
How to take the data specified in the panel player? marked in red
![8a03f95e-6e00-11e6-888e-c1585abde6eb](https://cloud.githubusercontent.com/assets/20172275/18052711/254ddf18-6e26-11e6-9fde-bc4783fdb170.png)

Help me please!

[2016-08-29 17:43] Crazy-Duck commented on #333
Use `requestProfileCard` in [handlers\community.js](https://github.com/Arcana/node-dota2/blob/staging/handlers/community.js)

[2016-08-29 17:43] #333 closed

[2016-08-29 17:48] kprodinfo commented on #333
Example plz, I noon :(

[2016-08-30 04:58] kprodinfo opened #334 "Returns the number of duplicate values"
I need to get data from multiple profiles.

But this request:
[code]
I get the data several times. Example:
![image](https://cloud.githubusercontent.com/assets/20172275/18076534/f25ff95a-6ea8-11e6-94bb-53badbd487ac.png)

Why is this happening?

[2016-08-30 05:24] Crazy-Duck commented on #334
You're registering two event listeners that listen to the same event, so each time the event fires, it gets treated twice. Just remove the second event handler and the event will only be treated once. You also might wanna consider registering your event handlers before you make the call that triggers the firing of the event, just to make sure you don't miss it.

[2016-08-30 05:24] #334 closed

[2016-08-30 05:26] Crazy-Duck commented on #333
Take a look at [examples\example.js](https://github.com/Arcana/node-dota2/blob/staging/examples/example.js), it contains an example of how to call this function.

[2016-08-30 05:58] kprodinfo commented on #334
@Crazy-Duck how to use this function in a loop?

It also gives doubles:
[code]

[2016-08-30 06:59] Crazy-Duck commented on #334
Ofcourse, because you're still registering multiple event handlers. If you structure your code as follows, you'll no longer have the issue
[code]

[2016-09-06 00:56] uSide opened #335 "Get players that failed to connect to the game"
When lobby starts, some players can't connect to game (network error, etc). How to detect this players?

[2016-09-06 06:27] Crazy-Duck commented on #335
If your bot is still in the lobby, it will receive a lobby update where those players are no longer in the lobby

[2016-09-06 06:27] #335 closed

[2016-09-06 06:28] Crazy-Duck commented on #329
@gerlaic did this sufficiently answer your question?

[2016-09-06 06:29] #303 closed

[2016-09-06 17:36] gerlaic commented on #329
Yeah this is good enough:D
Thanks! I'll close the thread.

[2016-09-06 17:36] #329 closed

[2016-09-09 10:48] micdoug opened #336 "Ignore start_at_match_id"
I can only get the last 20 matches in the function requestMatches. It seems that the parameter start_at_match_id is ignored.

[2016-09-20 12:07] lemkova opened #337 "problem with joinPracticeLobbyTeam"
yo when i was trying to change my bot slot into "unassigned" it doesnt want to move its slot.

i was using
[code]

the lobby was successfully created but my bot's team didnt even change, its still on radiant slot

[2016-09-20 12:12] lemkova commented on #337
ah really sorry, because it worked now, i just put the joinPracticeLobbyTeam() inside `practiceLobbyResponse` event

[2016-09-20 12:12] #337 closed

[2016-09-20 15:02] Crazy-Duck commented on #337
Yeah, you kinda need to have a lobby before you can switch slots ☺️

[2016-09-22 11:39] Crazy-Duck commented on #336
This function is pretty tricky to use, since there's only a moving frame of matches that are available via this method. For example, you won't be able to obtain last year's matches via this function. Can you post a small blurb indicating how you are calling this function?

[2016-09-22 12:33] Crazy-Duck commented on #336
I confirm, I've tried this:
[code]
And indeed it returns the same the same result twice. @howardchung does OpenDota use this function or do you guys use the webAPI?

[2016-09-22 16:43] howardchung commented on #336
webAPI.  I believe the GC lacks a sequence number endpoint, which is the most efficient way to find new matches.

[2016-09-22 21:42] gerlaic opened #342 "Is it possible to have multiple node-dota2 instance on with different accounts?"
I want to use multi processes to have 4 node-dota2 on at the same time. Is this possible?

[2016-09-22 23:07] jimmydorry commented on #342
Sure. The easiest way would be to copy the node-dota2 files, and setup each normally. If you want to be doing something more complex, you are going to need to have a read of the files and the way the library works. Certainly possible, but not out of the box.

Have a look at the examples. Looks straight forward enough.

[2016-09-23 05:10] Crazy-Duck commented on #342
Shameless plug, but you might wanna take a look at [this](https://github.com/Crazy-Duck/node-dota2-bot). It's a wrapper I've made around the library, which packages the entire thing in a bot object and handles the login, queueing, etc. If you'd want to run multiple instances in parallel, you'd just need to instantiate a series of bot objects. As soon as I've gotten time to figure out how to do it,

[2016-09-23 05:20] jimmydorry commented on #342
I seriously can't wait. While node-dota2 gives all the power you want, it's a bit daunting to start with... especially for people new to nodejs.

[2016-09-23 06:53] Crazy-Duck commented on #342
Seems like I have insufficient rights to transfer the repo to Arcana :/ Apparently you need admin rights on the organization before you can transfer ownership to it -_-'

[2016-09-23 07:48] jimmydorry commented on #342
Haha, you're right. I just checked. Let's take this to another issue.

[2016-09-23 07:51] jimmydorry opened #346 "Bring bot repo into org"
https://github.com/Arcana/node-dota2/issues/342

@RJacksonm1 How do you want to handle adding the bot repo for node-dota2 to this org? It's a wrapper for the library.

[You can temporarily](https://github.com/orgs/Arcana/people) add @Crazy-Duck as owner to the org. He can then transfer ownership of it to Arcana, and then you can put him back to member.

Or perhaps @Crazy-Duck should make a new org

[2016-09-23 07:54] RJacksonm1 commented on #346
@Crazy-Duck is now an owner!

[2016-09-23 07:55] RJacksonm1 commented on #346
Fuck it, so are you @jimmydorry

[2016-09-23 07:55] jimmydorry commented on #346
Awesome. So much new power!

[2016-09-23 07:56] #346 closed

[2016-09-23 07:56] RJacksonm1 commented on #346
![image](https://cloud.githubusercontent.com/assets/602850/18778289/9077aa00-816b-11e6-8ae3-e5482fbef476.png)

although ...

[2016-09-23 07:59] jimmydorry commented on #346
What's the worst that can happen? ![GreyFace](http://dota2.photography/public/s/Kappa.png)

Does 2FA change the workflow for committing? I don't want to be whipping out my phone for every commit.

[2016-09-23 08:01] RJacksonm1 commented on #346
If you're using git over HTTPS?  You'll need a "personal access token" rather than using your account password, it seems:

https://help.github.com/articles/providing-your-2fa-authentication-code/#when-youll-be-asked-for-a-personal-access-token-as-a-password

You needn't set it up just for Arcana. I'm just casually poking you with a pokey stick.

[2016-09-23 08:15] jimmydorry commented on #346
I'll have a look when I get back from South Africa. When I do that, I'll also sort out this npm repo push nonsense. 👍

[2016-09-23 08:20] RJacksonm1 commented on #346
What're you doing in South Africa?  Don't ya know Elon is in the Americas now?

[2016-09-23 12:50] jimmydorry commented on #346
I got summoned to go do some real work and earn my keep. Found out like yesterday and leave for SA on sunday. Elon is gonna need heaps of the stuff I'm digging out of the ground, so I'm sure he approves. :calendar:

[2016-09-28 16:24] micdoug commented on #336
Crazy-Duck I have used a code similar to yours and I have always the same result, no matter what parameter values I use.

[2016-09-29 13:20] Crazy-Duck commented on #336
Seems like GC is bugged then, or we're missing something in the request... I recommend using the webAPI in the mean time.

[2016-09-29 13:21] #342 closed

[2016-10-02 09:11] brendan10211 opened #349 "Unhandled message 7102"
I created a new bot account, and with dota's new requirements of being a non-limited steam account before you can talk, I can not speak on the bot's behalf yet. The example code returns this as Unhandled message 7102. which i'm assuming means you just need to spend 5 dollars in steam before you can talk in public chat channels.  Just thought I would put this out there.

[2016-10-02 14:29] Crazy-Duck commented on #349
7102 is a pop-up message, which can be a bunch of different things, for example notification you're in low prio, you can't chat because you're too low level, new patch, ... We haven't gotten around to implement it as a functionality yet. If you feel like it, don't hesitate to implement it! I'll tag this issue as a HacktoberFest challenge, so if you make a pull this month that fixes this issue, you

[2016-10-03 07:23] #326 closed

[2016-10-03 07:25] Crazy-Duck commented on #307
Stale issue, reopen if issue still relevant

[2016-10-03 07:25] #307 closed

[2016-10-03 07:26] Crazy-Duck commented on #296
Stale issue, reopen if still relevant

[2016-10-03 07:26] #296 closed

[2016-10-03 07:30] Crazy-Duck commented on #250
Chat regions with their coordinates can be found online [here](https://github.com/SteamDatabase/GameTracking/blob/master/dota/game/dota/pak01_dir/scripts/chat_regions.txt). This file is kept up to date with the game files automatically

[2016-10-03 07:30] #250 closed

[2016-10-04 06:45] Crazy-Duck opened #352 "requestPlayerMatchHistory is missing 2 options"
Protobuff is:
[code]
while we only support the first 5 parameters. The two booleans should be added to the options.

[2016-10-04 08:15] #352 closed

[2016-10-06 14:01] #349 closed

[2016-10-11 02:08] Esssport commented on #308
@Crazy-Duck May I ask which library it is? I'm looking at his github profile and he has a lot of repositories, is it protobuf.js? I'd love to take a look at the code.

[2016-10-11 02:46] paralin commented on #308
@Esssport https://github.com/paralin/dota2

[2016-10-11 02:48] Esssport commented on #308
@paralin Thank you very much.

[2016-10-24 11:07] soloqi opened #362 "How can I get ChatChannellList members"
![qq 20161024185833](https://cloud.githubusercontent.com/assets/9653184/19643250/f9e1a680-9a1b-11e6-864e-36e255c423c8.jpg)

![qq 20161024190222](https://cloud.githubusercontent.com/assets/9653184/19643379/8e7caf38-9a1c-11e6-9245-a3c264d05957.jpg)

I can't understand what this means.
I cant't find message about memebers by nethook2
My English is poor ,Can anyone understand me?

[2016-10-28 06:23] Crazy-Duck opened #363 "Update npm repo"
NPM repo isn't up to date with the latest version of the master branch

[2016-10-28 06:24] #363 closed

[2016-10-28 06:24] Crazy-Duck commented on #363
my bad

[2016-10-28 07:06] Crazy-Duck commented on #362
When you request the chat channel list, you only receive the number of members in the channel. If you want information on the members currently present in the channel, you need to find the `CMsgDOTAJoinChatChannelResponse` and track the `CMsgDOTAOtherJoinedChatChannel` and `CMsgDOTAOtherLeftChatChannel` messages.

[2016-10-31 03:29] soloqi commented on #362
I'm sorry ,But i cant find CMsgDOTAOtherJoinedChatChannel  or CMsgDOTAOtherLeftChatChannel  message when others join or left
only CMsgDOTAJoinChatChannelResponse  enabled bu no members_count
[code]

[2016-11-01 04:05] howardchung commented on #330
I suspect there are additional request/response pairs for support items, heroes killed, and item builds.  Let me know if you nethook it and find the messages.

[2016-11-02 14:22] Crazy-Duck commented on #330
Either they're not fetched from the GC via protobuff messages, or nethook isn't capturing them :/ I've looked at random games from myself, other people, played with the gametime slider for the item builds, ... each time there's only three different protobuf messages that are being sent; first a RetrieveMatchVote, then a ClientToGCSocialMatchDetailsRequest and finally a GCMatchDetailsRequest. I've

[2016-11-02 16:49] howardchung commented on #330
perhaps @kenbeannet might have some idea? Have you tried hooking into all network traffic (wireshark/fiddler?)  If we have the protobuf definition and those fields aren't in the MatchDetailsRequest call, it must be requested in some other way.

Maybe the nethook needs updating with latest protobufs? (I have no idea how the nethook works)

[2016-11-02 16:53] KenBeanNet commented on #330
Haha.  Funny.  I am looking into this today, been on it for 4 hours.  Nothing as of yet.  But yes, its a core essential piece, I really am disappointed I havent been on it before.

[2016-11-02 18:34] KenBeanNet commented on #330
Solution.

Thanks for helping @phychonic

http://replay<cluster>.valve.net/570/<matchid>_<salt>.meta.bz2

[2016-11-02 18:35] psychonic commented on #330
Talked with @KenBeanNet a bit about this in #opensteamworks.

The metadata is hosted on the replay servers (and similarly requires the server cluster and salt).
http://replay<cluster>.valve.net/570/<matchid>_<salt>.meta.bz2

After downloading and decompressing, the file is just a serialized CDOTAMatchMetadataFile, which then has the rest of the info.

[2016-11-02 19:01] Crazy-Duck commented on #330
weird that they'd put that on the replay servers.. I think we'll consider this as out of scope then for the time being. Thanks for the help you guys!

[2016-11-03 02:17] #330 closed

[2016-11-10 01:38] keeplearnin commented on #330
Is there a way to easily crack the CDOTAMatchMetadataFile?

[2016-11-10 06:00] soloqi commented on #362
I got it by http request
http://store.dota2.com.cn/webapi/IChat/GetChannelMembers/v0001?channel_id=552
thank all !!!

[2016-11-10 06:00] #362 closed

[2016-11-10 07:14] Crazy-Duck commented on #362
@howardchung Did you know about this API endpoint? I've only ever heard about the http://api.steampowered.com one...

[2016-11-10 07:19] howardchung commented on #362
No, I haven't heard of it.  I assume Valve uses it for something, or it wouldn't exist.  If we know where they use it, it might be possible to find some of the other endpoints that exist

[2016-11-10 07:24] Crazy-Duck commented on #362
store.dota2.com.cn seems to be the chinese version of steamcmmunity, so it might be an API that's used for some China-oriented functionality.. Endpoint is unfortunately not selfdocumenting :/
[code]

[2016-11-10 07:25] Crazy-Duck commented on #362
@soloqi where did you find this api?

[2016-11-10 07:31] howardchung commented on #362
http://www.dota2.com/webapi/IChat/GetChannelMembers/v0001?channel_id=552

That works too so I don't think it's China specific.  Check dota2 for any functionality related to this?

[2016-11-10 07:42] Crazy-Duck commented on #362
hmm, strange, www.dota2.com/webapi didn't return the above error so I assumed it only worked for the cn site. Thing is that IChat endpoint vaguely rings a bell but I can't seem to recall where I've seen it before...

[2016-11-10 07:58] rossengeorgiev commented on #362
That API endpoint has been available for a long time, and it's not China specific. It's how the client handles certain channel types. The list is polled from that API, probably to avoid performance issues with doing over the steam protocol.

[2016-11-10 10:27] Crazy-Duck commented on #362
Do you know if there are other methods/endpoints available on that api? Is it documented somewhere?

[2016-11-10 20:50] rossengeorgiev commented on #362
Here are some.  That is as documented as you can get

[code]

[2016-11-10 23:21] Ne3tCode commented on #362
I don't know if it's ever useful, but...
[code]
See `\game\dota\bin\<..>\client.dll` for more "documentation" :wink:

[2016-11-10 23:34] jimmydorry commented on #362
Holy shit, thanks for the custom games stuff.

[2016-11-10 23:40] Crazy-Duck commented on #362
There's a GetRealtimeStats as well, I need to look into this stuff 😮

[2016-11-10 23:43] jimmydorry commented on #362
From what someone was theorising to me yesterday, any API that returns the same results to everyone, gets made into a public API that they can cache to reduce server strain.

[2016-11-11 03:29] howardchung commented on #362
run fiddler/wireshark on your machine with the client open to see what http calls it's making and what params need to be passed.  I guessed a few things for GetRealTimeStats (match_id, lobby_id, but no luck).  GetLiveLeagueGames appears to be the same the official API version (but without the need for an API key)

[2016-11-11 17:59] Crazy-Duck commented on #362
WE WON BOIS!

Wireshark trace:
GET //webapi/IDOTA2MatchStats/GetRealtimeStats/v001?server_steam_id=90105191599565825 HTTP/1.1

![image](https://cloud.githubusercontent.com/assets/11719463/20224866/e9fcc23a-a840-11e6-8924-28499f2f5d1b.png)

[2016-11-11 18:03] Crazy-Duck commented on #362
So only 1 parameter, being the server_steam_id. This gives us:
* current ingame time
* live stats on every player,
** location (!)
** last hits/denies
** kda
** hero
** level
** gold
* building status
* gold graph

[2016-11-11 18:05] rossengeorgiev commented on #362
live as in after DotaTV delay

[2016-11-11 18:05] howardchung commented on #362
Anything special not in http://www.dota2.com/webapi/ITournaments/GetLiveLeagueGames/v001

[2016-11-11 18:07] Crazy-Duck commented on #362
Apart from the fact that this endpoint can be used for matches without ticket, don't think so..

[2016-11-11 18:08] howardchung commented on #362
How do you resolve server_steam_id for an arbitrary match?

[2016-11-11 18:09] rossengeorgiev commented on #362
You can't. Unless you are participating in the match

[2016-11-11 18:09] Crazy-Duck commented on #362
You can for the games your friends are playing at the very least, since these pop up in the watch tab too

[2016-11-11 18:10] howardchung commented on #362
Interesting, so maybe with adding service accounts as friends, live stats could be generated for matches you're playing in.  Not sure if that would be useful

[2016-11-11 18:11] Crazy-Duck commented on #362
That's what I was thinking yes. Might be cool to have like a trackdota for your friends' games 😄

[2016-11-11 18:18] Crazy-Duck commented on #362
These should be able to get you the server_team_id's for your friends' games, based on which we could be able to hit the api

[code]

[2016-11-11 18:25] Crazy-Duck commented on #240
We've made some progress on this in #362
Basically there's a "hidden" api on www.dota2.com with an endpoint to get the details you see in the watch tab. The endpoint takes the server_steam_id of the game and returns information about the players (kda, lh/denies, hero, position on the map, ...)

[2016-11-12 00:03] rossengeorgiev commented on #336
I've tried this and it works as expected. Up to 25 matches per request, and `start_at_match_id` works within the 500 total result.

[2016-11-12 07:52] soloqi commented on #362
@Crazy-Duck I,m web developer and i used fiddler to get http request
GitHub is really a good place. ^_^

[2016-11-14 08:07] soloqi opened #370 "requestProfileCard get different result when I use different accounts"
I reinstall node-dota2 and steam ,connect to different  server ip
But nothing works.And it's happend on client too
Is it have caches on steam server?
Does anyone have the same problem？

[2016-11-14 14:13] Crazy-Duck commented on #336
@rossengeorgiev can you paste a snipper with how you've managed to obtain multiple pages of results? I'd love to know how you got it to work so I can add it to the example list.

[2016-11-14 14:52] rossengeorgiev commented on #336
By setting `start_at_match_id` to the last `match_id` from the previous response, until `results_remaining` is 0. I'm not using node-dota2 tho.

[2016-11-14 21:05] micdoug commented on #336
@rossengeorgiev, what library have you used? Maybe I can test with it and try to figure out the source of the problem. Thanks

[2016-11-15 07:27] rossengeorgiev commented on #336
@micdoug https://github.com/ValvePython/dota2

I do the same as what @Crazy-Duck does, maybe his code has a bug? I can't tell from glance. To step through the results I do something like:

[code]

[2016-11-15 10:48] micdoug commented on #336
Ok. I will take a look and try to figure out the source of the problem. Thank you.

[2016-11-15 12:48] Crazy-Duck commented on #336
The most obvious difference I'm seeing atm is the handling of job id's, which we completely ignore in node-dota2...

[2016-11-15 15:20] Crazy-Duck commented on #336
Alright, found the error, there was indeed an error in my code, got fucked over again by the 64bit handling shenanigans of JavaScript. Here's a snippet that gives the intended result:

[code]
Which prints:
[code]
So what was the problem? This line: `let lastID = ""+ (response.matches[24].match_id-1);`
I think I added the quote concatenation to get rid of the high/low object shenanigans, but I've n

[2016-11-15 15:20] #336 closed

[2016-11-15 15:26] micdoug commented on #336
Good to know. @Crazy-Duck thanks for help.

[2016-11-15 15:33] rossengeorgiev commented on #336
#justjavascriptthings

[2016-11-15 15:37] Crazy-Duck commented on #336
@rossengeorgiev pretty much. It's all a consequence of JavaScript treating everything numeric as a Number, which can only safely represent integers up to 2^53. So as soon as you start messing with 64bit unsigned int's, things have a tendency to get murky -_-'

[2016-11-15 15:47] rossengeorgiev commented on #336
One of the reasons why I love python. You can have integers as big as your can fit in memory.

[2016-11-23 15:22] brendan10211 opened #374 "Error sending message in 4.1.0"
When I call `Dota2.joinChannel` it returns just fine with `k_EMsgGCJoinChatChannelResponse`, but when I send a message with `Dota2.sendMessage` I get `Cannot send message to a channel you have not joined.`  My code works just fine in 4.0.0.

Some code:
[code]

[code]

Most of the code involving node-dota2 was from `example.js` from this library.

[2016-11-23 16:47] XenBG commented on #374
Remove ``config.bot_channel_type`` from sendMessage and try again.

[2016-11-23 16:57] brendan10211 commented on #374
Thank you so much! I need to learn to read :)

[2016-11-23 16:58] #374 closed

[2016-12-02 16:19] KenBeanNet commented on #370
Yes.  This also happens on MatchDetails request too.  I always do a check after I get the results to ensure that the send match id == the result match id.  I use SteamKit2 and it happens there, so its just a general bug with Steam, not with Node2.

[2016-12-07 03:45] kevinyeo92 opened #379 "Bot crash due to "get messages from a chat I don't know""
[PlayerId] left channel 312108 (PS: why do I get messages from a chat I don't know? Did you kill me D: ?)
Error: handlers\chat.js:222 channel.channel_name,

Everytime my bot LaunchPracticeLobby(), this error will show up and my bot crashed. Any idea?

[2016-12-07 04:08] jimmydorry commented on #379
Probably related to https://github.com/Arcana/node-dota2/pull/378#issuecomment-264096298

[2016-12-07 04:26] kevinyeo92 commented on #379
Still getting the errors after the pull.

[PlayerId] joined channel Lobby_248483184657880
[PlayerId] left channel 402004 (totally a new channel id)

debugged at chat.js, the channel is undefined.

[2016-12-07 06:04] jimmydorry commented on #379
Read the comments on the PR, specifically the comment I linked.

Not sure if solved yet as @Crazy-Duck is looking at it on the weekend.

[2016-12-07 13:58] Crazy-Duck commented on #379
As for the errors you're getting, we'll probably need to look at the other message handlers in chat.js to make similar modifications as @tomasmck has made. The typical usecase where they pop up is when a bot get's killed without properly leaving all chat channels. I did not know the bot joins the post-game channel automatically, we'll probably need to find a workaround for that usecase (manually a

[2016-12-07 18:12] tomasmck commented on #379
This will hopefully be resolved by this PR: https://github.com/Arcana/node-dota2/pull/378.

I just pushed another update, cleaning up that handler. I'll be testing over the next few days.

[2016-12-07 23:21] MeLlamoPablo commented on #379
Hi, I'm getting the same error. I'm leaving the full stack trace in case it helps:

[code]

By the way, is there a temporary workaround to this? Such as a `try ... catch ...` block whose `catch` ignores the error. It'd be good to have a workaround while the PR comes since this bug makes it impossible to ship to production.

Please do tell me if there's anything else I can do to help.

[2016-12-08 01:44] kevinyeo92 commented on #379
I tested the new PR in #378
My bot no longer crash after I finished a game.

[2016-12-12 15:34] XenBG opened #385 "Will the node-dota2 work with Dota 2 ver 7.00?"
The question itself :D.

I'm asking, because I have lobby host bot and I wanna know if it will work or not with the new version. If somebody know how to test it on the Dota 2 Test version, I will do it.

[2016-12-12 17:16] baimurzin opened #386 "Are there any ways to get user\friend solo or party MMR?"
Are there any ways to get user\friend solo or party MMR?
There may be already any solution but I cannot find one. I will be very grateful if you point me what should I use.

[2016-12-12 17:26] Crazy-Duck commented on #386
Only if they're showing it on their profile card, then you can get it by calling requestProfileCard

[2016-12-12 17:38] baimurzin commented on #386
@Crazy-Duck Ok, Thanks a lot. For example, I got following json:
[code]

What is badje_points here?
And how would name mmr field in response?

[2016-12-12 18:03] Crazy-Duck commented on #386
it's in slots:

[code]

[2016-12-12 18:13] UncleVasya opened #387 "Possible unintended behaviour in chat communication"
[SendMessage()](https://github.com/Arcana/node-dota2/blob/3a16adcbca9682c766f76b2860f93df4f1081337/handlers/chat.js#L64) checks channel for `undefined `and writes "Cannot send message to a channel you have not joined." if so.
But [_getChannelByName()](https://github.com/Arcana/node-dota2/blob/3a16adcbca9682c766f76b2860f93df4f1081337/handlers/chat.js#L21) can return both `undefined `(if no channel

[2016-12-12 18:36] Crazy-Duck commented on #385
Your guess is as good as mine :) as soon as patch hits we'll check it out. I think most functionality should still work, but you never know I guess.

[2016-12-12 19:08] Crazy-Duck commented on #385
As for your test question, I think the test client has its own APP_ID, so you'd need to figure that one out and replace the DOTA_APP_ID=570 in index.js. I think that should work

[2016-12-12 19:11] XenBG commented on #385
Already tried, didn't worked.

[code]

[2016-12-12 19:12] Crazy-Duck commented on #385
@jimmydorry did you ever play with test client?

[2016-12-12 19:13] XenBG commented on #385
Test client ID is 205790.

[2016-12-12 20:02] JasonMcz opened #388 "Bot created lobby by inviting players, but how to Leave it?"
Using `inviteToLobby(steam_id)` _endpoint_ the bot is able to create a lobby and send invitation to players and how does the Bot leave the lobby after people join the current lobby and bot's "service" is no longer needed?

[2016-12-12 22:39] jimmydorry commented on #385
^ I think. Am on phone right now.

I wouldn't bother though. If stuff breaks, it breaks. The test client is too different to be of much use for testing IMHO.

[2016-12-12 23:36] jimmydorry commented on #385
Got to a computer. Yes it's 205790

[2016-12-13 02:49] XenBG commented on #388
```leavePracticeLobby()```

[2016-12-13 02:50] XenBG commented on #385
Seems the code still works for me in the new patch. That's nice!

[2016-12-13 10:03] Crazy-Duck commented on #385
Sweet, closing issue then :)

[2016-12-13 10:03] #385 closed

[2016-12-13 10:04] Crazy-Duck commented on #388
Might want to launchPracticeLobby (this launches the game) first if you want to prevent the players from messing with the lobby's settings

[2016-12-13 11:15] baimurzin commented on #386
Thank you man!

[2016-12-13 11:15] #386 closed

[2016-12-13 19:34] JasonMcz commented on #388
@XenBG , can Bot leave the lobby after 1st invitee enters it?

[2016-12-13 19:35] XenBG commented on #388
Yes, just listen when somebody joins the lobby and use the ```leavePracticeLobby()``` method.

[2016-12-13 19:35] JasonMcz commented on #388
Danke!

[2016-12-13 19:42] XenBG commented on #388
Here's a sample of that thing you want to do:

[code]

[2016-12-14 08:40] Crazy-Duck commented on #388
Be careful with this code though, it assumes that someone joining the lobby automatically joins the chat channel as well, which isn't a prerequisite (for example, afaik your bot needs to explicitly join the lobby chat channel, else it won't be in it). It's better to listen for `practiceLobbyUpdate` events and interpret those. Each time a new player joins the lobby, you'll receive a `practiceLobbyU

[2016-12-15 15:20] shockwaves opened #390 "Crashes when player enters lobby"
[code]

[2016-12-15 19:14] Crazy-Duck commented on #390
Can you post the steps to reproduce your error?

[2016-12-15 20:30] shockwaves commented on #390
1. install node-dota2
	- `git clone https://github.com/Arcana/node-dota2.git`
	- `npm i steam; npm i`
2. go to path `examples`
	- rename `config.js.example` to `config.js`
	- put my credentials, set `config.steamguard` to empty
	- create empty file `sentry` in same directory
3. change `example.js`
	- uncomment file `example.js` line 103-124
	(LOBBIES section with `createPracticeLobby` and `leavePr

[2016-12-16 06:27] Crazy-Duck commented on #390
Nice! I wish all bug reports were this detailed :laughing:  I'll look into it

[2016-12-16 10:16] #390 closed

[2016-12-16 10:32] Crazy-Duck commented on #390
Staging & dev branches now contain the fix. I'll look into releasing a new version (4.2.0) this weekend/next week

[2016-12-16 15:12] shockwaves commented on #390
great respect for your attention! =) its OK now)

[2016-12-16 17:25] Nevmen9sha opened #394 "BOT and unassigned players. Need help!"
Hi! I have a problem. When creating a lobby, bot automatically jump into the player slot.  What method should I use, to throw it in unassigned players?

[2016-12-16 17:29] Crazy-Duck commented on #394
There's an enum for the different teams, use `joinPracticeLobbyTeam` with the unassigned team value (I think,  I'll have to get to a pc for the actual value)

[2016-12-16 19:00] Nevmen9sha commented on #394
Thank you! I will wait)

[2016-12-16 19:53] Crazy-Duck commented on #390
Nice to hear :)

[2016-12-16 19:57] Crazy-Duck commented on #394
The enum is
[code]
The value you're searching for is `Dota2.schema.DOTA_GC_TEAM.DOTA_GC_TEAM_PLAYER_POOL`

[2016-12-16 22:18] XenBG commented on #394
```Dota2.practiceLobbyKickFromTeam("  BOT ACCOUNT ID   ");```

[2016-12-17 18:44] angel200sdnot opened #395 "Get practice lobby result with bot that abandoned at the start"
Is it possible to get the result from a private lobby that isn't ticketed without having to make the bot stay as a spactator/broadcaster/coach until the game is finished?

[2016-12-17 18:48] angel200sdnot commented on #394
I use this right after creating the lobby
`Dota2.joinPracticeLobbyTeam(1, 4, function(err);`

[2016-12-18 03:07] zackcoburn commented on #395
I'm also interested in the answer to this question.

[2016-12-18 03:12] zackcoburn commented on #388
Is there a way to get the match ID after leaving the lobby?

[2016-12-18 16:53] JasonMcz opened #396 "How to get MatchID after BOT leaves the lobby."
Currently, bot can use an event listener using LobbyID to listen players joining the game and analyzing the promise of how many people in the lobby, but is there a smart way to get matchID after Bot leaves the lobby after creating it and send invites? so it can get the result?

[2016-12-18 16:54] JasonMcz commented on #396
@Crazy-Duck @paralin

[2016-12-18 17:47] Crazy-Duck commented on #394
both work, it's just preference I guess. In the first one you kick yourself from the team, in the second you go willingly

[2016-12-18 17:48] Crazy-Duck commented on #394
@Nevmen9sha can you close this if you have no further questions?

[2016-12-18 17:50] #396 closed

[2016-12-18 17:50] Crazy-Duck commented on #396
Duplicate of #395

[2016-12-18 17:51] Crazy-Duck commented on #388
@zackcoburn check #395

[2016-12-18 17:56] Crazy-Duck commented on #395
Alright, since there have been like a million different tickets open for this:
As soon as you create a lobby, a match ID is assigned. You should be able to read this from the lobby updates you receive. However, details about private lobbies are __not__ publicly made available through the API, except for those who actually played them (so even if you stay in the lobby until the end as a spectator,

[2016-12-18 17:56] #395 closed

[2016-12-18 18:10] zackcoburn commented on #395
So, is this statement correct? There is no way to get the Match ID of a lobby created through the API unless the bot creating the lobby plays in the match.

Is there a way to ticket a lobby through the API?

[2016-12-18 19:02] Crazy-Duck commented on #395
the bot doesn't need to play, he only needs to be in the player pool afaik. Don't know about ticket, there's probably a way to do it through the createPracticeLobby settings, but I don't have any experience with that

[2016-12-18 19:04] zackcoburn commented on #395
The 'Start game' button doesn't appear if the bot is in the unassigned player pool.

[2016-12-18 19:25] Crazy-Duck commented on #395
let the bot create the lobby, then it's admin and can start the game

[2016-12-18 19:30] zackcoburn commented on #395
Is there an API call that will start the game?

[2016-12-18 19:38] Crazy-Duck commented on #395
`launchPracticeLobby` ...? It's all in the README

[2016-12-18 19:54] zackcoburn commented on #395
I had been doing that without waiting for the other players to join, and it didn't work. It just occurred to me to try doing it after the players have joined, and now it works.  It didn't occur to me that 'launching a practice lobby' is equivalent to 'starting a game.' 👍

[2016-12-18 20:37] Crazy-Duck commented on #395
yeah you need to wait till there's at least one real person in either team before you launch. Since the bot can't connect to the game server itself, if you launch while it's just sitting there alone, game's just gonna fail

[2016-12-19 06:07] Nevmen9sha commented on #394
Yes, thank you)

[2016-12-19 06:07] #394 closed

[2016-12-19 22:56] dmitry-tuzenkov opened #397 "Could any one help with CSODOTALobby.CExtraMsg ?"
Hello everyone.

Could anyone help me figure out with `CSODOTALobby.CExtraMsg` field?
What secret contains this data  structure?
[code]

[2016-12-20 13:51] Crazy-Duck commented on #388
@JasonMcz can you close this issue if your problem is resolved?

[2016-12-20 13:52] #379 closed

[2016-12-20 16:06] shockwaves opened #398 "How to remove warning DeprecationWarning when connect?"
[code]

[2016-12-20 16:12] shockwaves commented on #398
ok, sorry, i find this in `fs.writeFile servers`, in handler `onSteamServers` ,
add just callback function and fix it:

[code]

[2016-12-20 18:23] Crazy-Duck commented on #398
This is a problem in your own code, which I'm guessing you based on the examples. Example.js has already been fixed on the dev and staging branches, for example2.js I've just made the pull. As soon as I bump the master to 4.2.0 (probably this week) this error should disappear.

[2016-12-20 22:15] shockwaves commented on #398
yes, i see it now)
so very glad that this warning disappeared ^_^

[2016-12-20 22:30] shockwaves opened #401 "How join to lobby chat?"
After lobby created, i try join to lobby chat. It's real?
what values must contain `channel_name` and `channel_type`?

[2016-12-21 14:23] #398 closed

[2016-12-21 14:24] Crazy-Duck commented on #401
Check the Chat section in the README, everything is explained there

[2016-12-21 14:24] #401 closed

[2016-12-21 18:22] Crazy-Duck commented on #397
@howardchung do you have any idea?

[2016-12-21 18:22] #388 closed

[2016-12-21 18:23] Crazy-Duck opened #402 "New major version of protobuf.js"
Check if we need to make changes if we want to migrate to the latest protobuf.js version

[2016-12-21 18:43] howardchung commented on #397
Nope.  Probably need to use nethook or something and try a bunch of lobby actions to see if this pops up.  Might be difficult to find though. Typically it works the other way, you identify what behavior you want to emulate then use nethook to find the relevant messages.

[2016-12-21 23:12] shockwaves commented on #401
Thank's, works perfect! =)

[2016-12-22 16:35] yukidaruma opened #403 "Add Warning that Trophy Level 5 is required to use sendMessage"
![dota2_2016-12-22_11-33-53](https://cloud.githubusercontent.com/assets/6897821/21432316/48816f80-c8ae-11e6-8945-62cbd1f6d990.png)

[2016-12-22 17:02] yukidaruma commented on #403
I'm sorry I think I made wrong use of Issues/PR...

[2016-12-22 17:45] Crazy-Duck commented on #403
Nah, this is fine honestly. This issue will auto-close as soon as I merge, well done!

[2016-12-22 17:47] Crazy-Duck commented on #403
just make sure next time if you fix an issue, you put Fix  #issue number in the pull request. That way it auto-closes

[2016-12-22 17:47] #403 closed

[2016-12-22 23:21] shockwaves opened #406 "how to check the presence of a previously created lobby when reconnecting to the game?"
I do login, launch game, create lobby in my app based on node-dota2. Then i restart my app and launch game again. If if I try once more to create a lobby, i get message:

[code]

 What is best way to check that the lobby was already created?

[2016-12-23 02:37] yukidaruma commented on #403
Got it. Thanks for the information.

[2016-12-23 06:25] angel200sdnot commented on #397
id is the EDOTAGCMsg enum value of the message and content is the encoded message (im pretty new at this and this is just guessing)

in a lobby without any league (leagueid: 0) i only get an array with 1 element
`extra_messages: CExtraMsg[ 1 ] = [{ id: 7572, contents: 080F120F08C9FAED131000180050E80758E807 }]`

i happen to have access to a league ticket and in that lobby i get an array with 2 elem

[2016-12-23 18:51] Crazy-Duck commented on #406
Well, the result: 2 literally means: you're already in a lobby. So I'd say this is a pretty good way to check if you're in one. You could also just start off with calling leavePracticeLobby, that way you're sure you're not in one

[2016-12-23 18:54] Crazy-Duck commented on #397
Did you already try to decode the first one as a `CMsgLobbyEventPoints` and the second one as a `CMsgLeagueAdminList` ?

[2016-12-23 19:03] dmitry-tuzenkov commented on #406
I'have tried to decode but...

[2016-12-23 20:59] Crazy-Duck commented on #406
Are you posting in the right issue here?

[2016-12-23 23:06] dmitry-tuzenkov commented on #397
According to your message @angel200sdnot  i should decode by message id right?
[code]

[code]

[2016-12-24 05:27] angel200sdnot commented on #397
I just did a quick test and this is what i got in a lobby with a leagueid

For k_EMsgLobbyEventPoints = 7572
`24 Dec 01:22:04 - { event_id: 15,
  account_points:
   [ { account_id: 41647433,
       normal_points: 0,
       premium_points: 0,
       owned: null,
       favorite_team: null,
       favorite_team_level: null,
       points_held: null,
       premium_points_held: null,
       favorite_

[2016-12-24 20:35] shockwaves commented on #406
Thank's for answer!

what do you mean?

[2016-12-25 06:26] yukidaruma opened #407 "Add an event for onJoinChatChannelResponse"
So we can safely handle event instead of [setTimeout](https://github.com/Arcana/node-dota2/blob/ca5c84bf50ac6007899758bd437d6d9cdcd71fb7/examples/example.js#L77).

By the way, there is `chatJoin` event for [onOtherJoinedChannel](https://github.com/Arcana/node-dota2/blob/95a679dd9062ef77d56305d56d42ce2352c3f727/handlers/chat.js#L186). I cannot come up with good name for `onJoinChatChannelResponse`

[2016-12-25 20:53] dmitry-tuzenkov commented on #397
Hey, @angel200sdnot please look attachment!

[code]

![screen shot 2016-12-25 at 22 52 44](https://cloud.githubusercontent.com/assets/1918309/21472858/e3da3816-caf4-11e6-9150-8d15213ee83d.png)

[2016-12-25 20:53] #397 closed

[2016-12-26 09:17] jimmydorry commented on #397
Cool, I didn't know that markup existed.

[2016-12-26 18:02] Crazy-Duck commented on #406
@shockwaves someone had posted a whole block of code that belonged in another issue. He has deleted his comment in the mean time :)

[2016-12-26 18:02] #406 closed

[2016-12-26 18:07] Crazy-Duck commented on #407
how about `chatJoined`?

[2016-12-27 03:51] kevinyeo92 opened #408 "Can bot rejoin game as assigned player?"
I assigned the bot in "Unassigned player" to get update from lobby game until the winner is decided. But sometime, my bot disconnect and trigger steamError due to Internet Connection. Is it possible to make the bot to rejoin the game and continue receiving updates?

[2017-01-02 18:54] Crazy-Duck commented on #402
This looks just plain awful '-_-
[code]
Anybody got an idea on how to make this prettier? Does anyone have tinkered with the new protobufjs yet? @howardchung , @jimmydorry ?

[2017-01-02 20:14] jimmydorry commented on #402
Nope. Isn't it fine though? You can see how it was derrived, and how to extend it.

[2017-01-03 07:08] Crazy-Duck commented on #402
I don't know, it just feels soo clunky :/ I mean, if you compare this
[code]
with this
[code]
I feel like the second one is more natural...

[2017-01-04 12:49] Crazy-Duck commented on #402
Fixed in #409

[2017-01-04 12:49] #402 closed

[2017-01-05 12:12] Crazy-Duck commented on #408
You'd have to try to invoke joinPracticeLobby again and see if that works, but i'm not sure if it will..

[2017-01-05 12:31] shockwaves opened #413 "dota2.schema.DOTA_GameMode is undefined"
it happened in the current release (4.2.0)

[2017-01-05 12:50] MeLlamoPablo commented on #413
Apparently the API changed. Now it's:

[code]

I refactored all my code to have the enums I use on the same place, just in case it changes again:

[code]

[2017-01-05 13:01] MeLlamoPablo opened #414 "How to get tournament_game_id required to host a ticketed match?"
Hello! I'm struggling to get my bot to host a ticketed match, because I don't know what should I put in `tournament_game_id` (the section in the README.md is not documented). Taking a look at the source code, it seems that if I put anything lower than 1, no ticketed lobby is created. So I tried with 1, and 123456789, but none works. I don't really know what should I put. How am I supposed to know

[2017-01-05 13:13] Crazy-Duck commented on #413
It's an unfortunate side-effect of protobufjs changing their API in the latest version. `Dota2.schema` will return a [`Root` ](https://github.com/dcodeIO/protobuf.js/blob/master/src/root.js) object. If you want to get an enum from the protobufschema, you need to call `Dota2.schema.lookupEnum`.

[2017-01-05 13:13] #413 closed

[2017-01-05 13:20] Crazy-Duck opened #415 "Update README for Dota2.schema references"
Should fix the references to Dota2.schema enums so they're fetched in the correct way as per the new protobufjs version.

[2017-01-05 14:02] MeLlamoPablo commented on #414
Hi, thanks for the answer. Do you have any reccomendations for using a nethook? I have never used one and I don't know where to begin.

[2017-01-05 14:04] Crazy-Duck commented on #414
[Our wiki](https://github.com/Arcana/node-dota2/wiki#using-nethook) is a good place to start :)

[2017-01-05 15:15] shockwaves opened #416 "event practiceLobbyCleared is not work when leaving lobby"
launch game, create lobby, then relaunch game and call method `leavePracticeLobby`, event `practiceLobbyCleared` is not happened. Try to debug `cache.js` line 133:

[code]

it not work because `this.Lobby` is `undefined`. Besides, event `practiceLobbyCleared` emit without argument `lobby_id` which maybe could be useful :)

[2017-01-05 19:14] MeLlamoPablo commented on #414
Hi, do you have by any chance a compiled NethookAnalyzer? I got Nethook from appveyor and managed to get it working, but I couldn't manage to compile the NethookAnalyzer.

[2017-01-05 20:04] angel200sdnot commented on #414
My bot makes ticketed league games without any issues using this options and using createPracticeLobby()
[code]

[2017-01-05 20:21] MeLlamoPablo commented on #414
@angel200sdnot thank you! That did work! You're a lifesaver, I can't thank you enough :)

@Crazy-Duck, the param `leagueid` is documented as `league_id`, which doesn't work. I'll later send a PR with some little documentation improvements, as I encountered other problems in the past.

[2017-01-05 20:21] #414 closed

[2017-01-05 20:41] Crazy-Duck commented on #414
alright, more docs is always welcome!

[2017-01-05 20:47] Crazy-Duck commented on #414
@angel200sdnot i take it this means tournament_game_id is optional then?

[2017-01-06 01:10] angel200sdnot commented on #414
@Crazy-Duck Yes, using the default value always works

The tournament game id could be used to track bo3 or bo5 type of league matches, where all of them have different match id but share a common tournament_game_id, this is just me guessing because i havent actually tested those types of games

[2017-01-06 08:39] Crazy-Duck commented on #414
Alright, then I prefer we make tournament_game_id a an optional argument in `handlers/lobbies.js`. @MeLlamoPablo can you make this modification and add it to your pull? I propose we continue this discussion there then

[2017-01-09 15:47] Timsanxyz commented on #408
How can you make bot assign as "unassigned player"? I tried so hard.  I could only make bot use broadcast channel/team slot/ or be kicked)

[2017-01-09 23:53] angel200sdnot commented on #408
@kevinyeo92 i don't know the behavior of the bot when disconnecting with an error, but you can start by adding an interval when you get the steamError to reconnect, something like
[code]
What you do next depends on whats happening, if the dota 2 client has to be restarted, restart it, if you need to rejoin an active game, use NetHook to see what happens when you press the reconnect button and repl

[2017-01-10 01:40] angel200sdnot opened #418 "Managing more than 1 bot"
Whats the best way to manage more than 1 bot, spawning a child process for each bot or using 1 process that manages all of the bots?

How slow would the manager be in comparison with using 1 process for each bot?

[2017-01-10 06:17] Crazy-Duck commented on #408
If you want an example of how to handle disconnects, check out [node-dota2-bot](https://github.com/Arcana/node-dota2-bot) under this same organisation. It reconnects the bot whenever it loses connection and does so with a let-off function, so as not to spam Valve servers. @Timsanxyz , like angel said, you either kick the bot from the team (it can kick itself too if it's admin of the lobby) or you

[2017-01-10 06:18] Crazy-Duck commented on #418
It depends of the number of bots you're managing I think. @howardchung I take it you guys use a decently sized bot pool? How do you manage them?

[2017-01-10 06:26] howardchung commented on #418
Nothing fancy.

https://github.com/odota/core/blob/master/svc/retriever.js

The bot just connects with a configurable number of accounts (currently 15).  (That would one process, logging into multiple accounts at once).  You can also do one account per process but that's more memory overhead.

[2017-01-10 11:10] shockwaves commented on #418
what to do if the number of bots is greater than 100 ?

[2017-01-10 17:08] angel200sdnot commented on #418
@howardchung this is the answer i was looking for, thanks

[2017-01-10 20:12] rnsparkour opened #419 "How can i fetch Solo MMR from Acount IDs ?"
`  var steamID = '76561198058632219';
           var accid = Dota2.ToAccountID(steamID);

             Dota2.requestProfile(accid,function(err, res) {
                if (err) throw err;
              console.log(JSON.stringify(res));
             });`

So is there  another way to get Solo MMR ?  Without OPEN DOTA  API ?

[2017-01-11 08:09] Timsanxyz commented on #408
@angel200sdnot @Crazy-Duck Thanks a lot! connecting to 4 works for me! The problem was that practiceLobbyKickFromTeam was not only kicking from team, but from lobby too.
Now lobby starts with no error, players are playing game, but I still have one question - can I have the match_id on exiting from lobby? Or it is being generated after the game is over?
And one more - for the moment I run some php

[2017-01-11 09:12] Crazy-Duck commented on #408
match_id should be obtainable from the lobby updates your bot gets while the game goes on. You can monitor the lobby state to detect the end of the match as well. As for the communication between your two servers, I'd opt for creating simple REST services either on your PHP server, to which you can post information, or on your node js server, which can takes commands. SSH exec is generally discour

[2017-01-11 09:15] Crazy-Duck commented on #419
`requestProfile` is deprecated, as stated in the README (has been for over a year now I think). You can only retrieve solo MMR if people show it on their profile card. To obtain that, you can call [`requestProfileCard`](https://github.com/Arcana/node-dota2#requestprofilecard-account_id-callback)

[2017-01-11 09:15] #419 closed

[2017-01-11 09:25] Crazy-Duck commented on #418
@shockwaves you'd have to run some tests to see what's the most performant based on your current setup. We've never deployed networks of bots of that size, so it's hard to speculate

[2017-01-11 09:25] #418 closed

[2017-01-12 22:53] VitorCaleffi opened #420 "Know if the game has ended and the winner with practiceLobbyUpdate"
There is a way to know if the game has ended only listening to practiceLobbyUpdate ? And get the game's winner?

[2017-01-13 13:10] Crazy-Duck commented on #420
Why yes there is :) if you look at the contents of the CSODOTALobby object you receive upon each practiceLobbyUpdate event, you'll see there is a game state variable which indicates the current state of the game (ready-up, post-game, ...) as well as a variable indicating the winning team. The proto schema is as of this answer's writing:
[code]

[2017-01-13 13:10] #420 closed

[2017-01-22 06:00] soloqi commented on #419
http://cbss.api.766.com/app/dota2/self/player/summary?steamId=5342463
PerfectWorld once granted super api-key which can get solommr and other hidden mmr directly
This api based on the super key，you can test it with any account id

[2017-01-22 13:01] Crazy-Duck commented on #419
@jimmydorry @RJacksonm1 do any of you guys have contacts at Valve? This one might be worth reporting honestly. This is clearly a public endpoint that shouldn't exist..

[2017-01-22 14:54] jimmydorry commented on #419
Been away for a bit. Valve don't care about anything PerfectWorld related. I'll report it, but past precedent indicates they will just get another key.

[2017-01-22 15:52] Crazy-Duck commented on #419
From what I gather this is a custom api built with a leaked API key (the one from ruru?). I get they don't care much about perfect world (I mean, those guys need this kind of access to be able to manage the chinese servers), but I'd assume Valve would oppose to the fact the key is this blatantly available? At least they should revoke this key and give a new one to PW then. They've already gone thr

[2017-01-22 17:58] rossengeorgiev commented on #419
@soloqi are there other similiar APIs on that site? Matches for examples, etc

[2017-01-22 21:23] jimmydorry commented on #419
Confirmed PW. The report was received.

[2017-01-23 06:18] soloqi commented on #419
@rossengeorgiev No yet，the api was used in their andriod app，expect updates...
those key was disabled after ruru event，but it was restored  a few days later，maybe it's legal

[2017-01-23 10:18] rnsparkour commented on #419
so this API from PW should not use it ?

[2017-01-23 17:53] Crazy-Duck commented on #419
Well I can't stop you, but I'd advise against it. There's a reason Valve wants this kind of information to be kept private. In any case, I wouldn't rely on the API since chances are it will disappear.

[2017-01-24 00:05] howardchung commented on #419
Combining this API with GC requests to get an unbiased sample of account_ids could finally produce an answer to the question of MMR distribution/inflation.

@rossengeorgiev are you already working on this?

[2017-01-24 00:17] rossengeorgiev commented on #419
@howardchung 😄

[2017-01-24 01:54] howardchung commented on #419
If you aren't I might do it for personal interest.  Not planning to make it part of the OpenDota project though since it's kind of ethically gray.

If you're already working on something though I'll just wait for your results :)

[2017-01-24 02:50] jimmydorry commented on #419
Their app looks dead now. Good work guys.

[2017-01-24 04:03] notbdu opened #426 "addBotToPracticeLobby not working"
I make this call after I create the lobby and invite myself to the lobby.

Code:
[code]
Logs:
[code]
My two console logs:
[code]
I am in the lobby but I do not see any AI bots added.

[2017-01-24 07:11] Crazy-Duck commented on #419
@howardchung the MMR listings weren't 100% accurate either. I did a few tests, and while accurate for some people, for others the numbers could be off by quite a big margin. For example, an account which had 3k solo ranked on its profile was reported as only having 2.5k by the API call...

[2017-01-24 07:14] Crazy-Duck commented on #426
Protobufjs has changed their implementation. You need to explicitly resolve objects by type on the schema now. Try changing your code to
[code]

[2017-01-24 07:59] jimmydorry commented on #419
Did you run the update API though? There were other APIs exposed that had even more useful capabilities for harvesting data.

[2017-01-24 08:01] Crazy-Duck commented on #419
I only played around with the player summary, once I saw that one didn't give accurate results I didn't look into it further. What was the update API?

[2017-01-24 13:58] bdupharm commented on #426
It seems that I have `protobufjs@^5.0.0`.

The two enums resolve for me.
Logs:
[code]
Out:
[code]

Trying:
[code]
Out:
[code]

[2017-01-24 13:58] bdupharm commented on #426
Still no luck adding an AI bot :(

[2017-01-24 21:24] devilesk commented on #387
As long as code outside this library isn't setting chatChannels to a falsy value, _getChannelByName will always return either a channel data or `undefined` and never `null`.

If a user didn't join any channels [chatChannels will be an empty array](https://github.com/Arcana/node-dota2/blob/a1f51cb388b4705b4b4e1570bbe65a4809197499/index.js#L29) but it will still pass the [condition in _getChannelByN

[2017-01-24 23:04] jimmydorry commented on #419
It would update the user's data, and I think it did their MMR too.

[2017-01-25 14:10] rossengeorgiev commented on #419
@howardchung what are you interested in? I may be able to answer.

[2017-01-25 17:34] howardchung commented on #419
Whether MMR median (unbiased sample) has shifted from the values that Valve provided years ago

[2017-01-25 19:56] Crazy-Duck commented on #426
what version of the library are you using?

[2017-01-25 20:53] rossengeorgiev commented on #419
I didn't get the chance to do random sampling, so that question remains to be answered.

[2017-01-26 00:21] pendo324 commented on #419
Wow, I wish I read this thread earlier and had a chance to do some sampling before it was restricted/removed :(

[2017-01-26 10:36] #387 closed

[2017-01-26 14:15] bdupharm commented on #426
`dota2@4.1.0`

[2017-01-27 02:11] qing5hu1 opened #431 "Can't chat despite having trophy level 5"
#I keep getting

despite the account having paid for games on steam, + being level 5 on Dota.
Is there any way to resolve this or do I need to get a new account?

This guy has the same problem:
https://www.reddit.com/r/DotA2/comments/5l08a5/please_create_an_official_bot_account/

Edit: made a thread on dev.dota
http://dev.dota2.com/showthread.php?t=276627

[2017-01-27 13:22] rossengeorgiev commented on #431
Have you tried getting the account to level 6?

[2017-01-27 16:36] qing5hu1 commented on #431
Not yet, I'll try that.

[2017-01-28 00:50] gerlaic opened #432 "createPracticeLobby with certain settings failed"
I uncommented the code in example with some little changes:
[code]
The game_mode in both client and arguments from practiceLobbyUpdate is 5. And the attribute "fill_with_bots" is false.
[code]

What happened here?

[2017-01-28 06:36] altairmizuchi opened #433 "requestMatches criteria question"
[criteria] - The options available for searching matches:
[hero_id]
[game_mode]
[date_min]
[date_max]
[matches_requested]
[start_at_match_id]
[min_players]
[tournament_games_only]
[account_id]
[league_id]
[skill]
[team_id] -
Is there any description for these parameters? Like format, type or something like this. Thank you

[2017-01-28 06:45] devilesk commented on #433
[code]

https://github.com/Arcana/node-dota2/blob/a1f51cb388b4705b4b4e1570bbe65a4809197499/handlers/match.js#L4-L16

https://github.com/Arcana/node-dota2/blob/a1f51cb388b4705b4b4e1570bbe65a4809197499/proto/dota_gcmessages_client.proto#L88-L101

[2017-01-28 16:26] qing5hu1 commented on #431
The account is level 9 and i still can't talk on it.
https://i.imgur.com/jr3JdEf.jpg
Heres an extract from dota_game_account_debug:
`CDOTAGameAccountClient:
[Developer] account_id: 75562186
[Developer] wins: 17
[Developer] losses: 11
[Developer] xp: 390
[Developer] level: 1
[Developer] initial_skill: 100
[Developer] leaver_count: 0
[Developer] low_priority_until_date: 0
[Developer] prevent_text_ch

[2017-01-28 17:16] rossengeorgiev commented on #431
Wierd... maybe its broken at the moment? I checked on my account and level doesn't correspond to the account level. `play_time_level` is trophy

[2017-01-28 17:22] hhuh commented on #431
I have the same issue.  I got my bot account's dota profile level to 8 and it still yelled at me that I need to be level 5.  Then I thought it was the steam profile level so I just leveled it up to 7 but even then, its giving me the same result.  This has to be some sort of bug on Valve's end.

[2017-01-28 18:26] qing5hu1 commented on #431
@rossengeorgiev You're correct. level: 1 doesn't mean anything. play_time_level on my account is different.

[2017-01-28 19:28] devilesk commented on #432
Are you sure that the account isn't in any existing lobbies before trying to create that new lobby?

In my own tests my account got stuck in an invisible lobby (not sure how though). But I got the bot code to work after manually logging into the account and disconnecting it from the lobby it was in and then trying again.

To leave the lobby, I had to do a couple of things I found in this [reddit t

[2017-01-28 19:55] devilesk commented on #426
I just tested addBotToPracticeLobby myself and it doesn't seem to be working. I'm just running a modified version of the example.js with the following in the ready callback:

[code]

I think Valve might have just removed the functionality for adding individual bots to slots, because you can't even do it in the client anymore.

[2017-01-29 14:50] Crazy-Duck commented on #426
if this is the case we're gonna have to put it deprecated then

[2017-01-29 14:51] Crazy-Duck commented on #433
@altairmizuchi did @devilesk's response fix your problem?

[2017-01-29 15:15] rossengeorgiev commented on #433
It worth to note that some of those option were disabled by Valve a long time ago, like `date_min` and `date_max`

[2017-01-29 15:41] Crazy-Duck commented on #433
@rossengeorgiev if you know about stuff that's been deprecated, I'd very much like to know about it. It's kinda hard to keep up with everything valve deprecates

[2017-01-29 15:58] rossengeorgiev commented on #433
I've not been keeping track. That message is also rate limited, and I think overuse results in temp ban for that message. I'm guessing here, but I think dotabuff might be using it heavily  to get skill rating for matches. Think tons of accounts.

[2017-01-29 16:50] altairmizuchi commented on #433
Crap. I was really interested in those exact fields. Is there a way to request only mmr matches? I also have a strange problem with retrieving matches with specified account_id. As soon as I send it responses stop coming.
No response:
[code]
has response
[code]

[2017-01-29 17:34] rossengeorgiev commented on #433
Like I said above, you only get the 500 most recent matches. Perhaps `account_id` works as filter over those 500 matches. If you are hoping to get recent match history of a specific player, you are out of luck, unless they share with thirdparty

[2017-01-30 01:24] gerlaic commented on #432
Thanks, that solved my issue :D

[2017-01-30 01:24] #432 closed

[2017-01-30 01:45] gerlaic commented on #426
I just tried to use the attributes in ```createPracticeLobby``` to try add bots into the game. You can set it with : ```"fill_with_bots": true```

However, other settings are not working such as:
[code]

And I didn't find any args to use custom bots

[2017-01-30 06:09] altairmizuchi commented on #433
Do you mean "Expose Public Match Data" option? If you do how will I get matches for such users only?
Is there a way to filter out mmr matches only?

[2017-01-30 06:57] Crazy-Duck commented on #432
This can happen for example when your bot crashes after creating/joining a lobby. Calling `leavePracticeLobby` usually solves this, no need to login manually

[2017-01-30 07:03] Crazy-Duck commented on #433
requestMatches indeed only works over the last 500 matches and is rate limited as @rossengeorgiev said. If you want the match history of a player, you need to use `requestPlayerMatchHistory`. However, since Valve's changes like two months or so ago, this only works for people on your friend list.

[2017-01-30 07:10] Crazy-Duck commented on #426
@gerlaic the only lobby commands that are supported right now are:
[code]
Any other option that's passed to `createPracticeLobby` gets ignored. You'd need to create a PR where you add
[code]
to the list of options, ask in #417 if they want to add it or wait for me to get around to doing it

[2017-01-30 07:39] altairmizuchi commented on #433
So I can get only 500 matches starting from specified match id or is it always only last 500 and start match id only works as filter?

[2017-01-30 07:43] Crazy-Duck commented on #433
the start match id is a filter in these last 500 matches, since you only get them 25 at a time

[2017-01-30 07:49] altairmizuchi commented on #433
So can I:
1) store last match id I requested
2) get new last match id
3) request by 500 from stored to new sequentially with filter
4) store new last match id and repeat after some time
?

[2017-01-30 07:54] inShu commented on #433
https://api.steampowered.com/IDOTA2Match_570/GetMatchHistory/V001/?key=<key>&account_id=<account_id> will return last 500 matches for any account. It doesn't matter will they listed in global all matches list or not. **account_id** parameter is not applied as filter for **all matches** search. For sure.

[2017-01-31 04:43] bdupharm commented on #426
Thanks for looking into this guys. 👍

[2017-01-31 06:21] zeTurk opened #434 "configPracticeLobby - Help"
After joining a lobby, how would I go on about changing the settings with commands from lobby chat?

[code]

I believe this is the method I need to call, but I am confused on how to operate it and also how to obtain the lobby_id. I'm pretty new here, so help would be appreciated. Thanks

configPracticeLobby(lobby_id, options, [callback])

[2017-01-31 07:39] Crazy-Duck commented on #434
`configPracticeLobby` is indeed the function you need. You need to call it passing the ID of the lobby you want to configure and an object containing the options you want to configure. The currently supported ones are:
[code]

[2017-01-31 21:21] zeTurk commented on #434
How would I go on about getting the lobby_id? I know it's in the console logs but is there an object I can just access?

[2017-02-01 10:00] gerlaic commented on #434
@zeTurk Yes. You can do like this:
[code]

And you will see the `lobby_id` inside `body`. It's a dictionary so it's easy to extract it

[2017-02-01 11:27] ProbablyPeps opened #435 "Help for setting up Dota2 chatbot"
Hello guys.
I was very happy to find your project, because im actually seeking a bot that can:
-Enter Dota2 game coordinator
-Post messages to specified channels
-And maybe use some other cool features.

I went into the steps of installing even browsed trough the issues, where i had to face it: I'm a total noob to this. :( I almost gave up, but i'll rather post my request here, maybe there are som

[2017-02-02 12:53] devilesk commented on #435
`npm install steam; npm install` is not correct. You want to enter `npm install steam` and then `npm install` as two separate commands.

[2017-02-02 14:59] ProbablyPeps commented on #435
tried already, i get same errors. typing it as npm install steam; npm install was my last try with it

[2017-02-02 15:00] Crazy-Duck commented on #435
You're making things waaay too complicated.

# How to get node-dota2 on your PC
1. get a PC with node JS installed, nothing else is needed
1. git clone https://github.com/Arcana/node-dota2.git
1. `npm install`
1. modify config.js to your liking
1. node examples\example.js

This will get you the source code of node-dota2 and will allow you to play around with the examples.

For myself, when I want

[2017-02-02 19:49] shockwaves opened #436 "value constants mismatch DOTA_GC_TEAM vs match_outcome"
When lobby is ended, event `practiceLobbyUpdate` send lobby object with attribute `match_outcome`.
Value of this attribute can be is `2` (Dire) or `3` (Radiant).
But `DOTA_GC_TEAM` contains:
[code]
it is inappropriate? there are ways to determine the winner of the lobby?

[2017-02-03 01:16] zeTurk commented on #434
oh ok, thanks!

[2017-02-03 01:16] #434 closed

[2017-02-03 07:28] elpaxdota opened #437 "custom_game_mode"
In readme.md custom_game_mode with status TODO. Is it working right now ? Can this library create lobby with custom game mode (like pudge wars) ?

[2017-02-03 11:42] ProbablyPeps commented on #435
Hey Ducky.
You are really helpfull and thank you for wasting your precious time on me but i think it aint gonna work :(
I did what you wrote (except the cloud9 part, that required me to give my bank acc. details, i would skip that for now)
I think i'm just simply a complete retard for this stuff, i thought some reading after could solve this but it cant. I still get this error:
![kep](https://clou

[2017-02-03 13:04] rossengeorgiev commented on #436
You use the outcome enum.

https://github.com/Arcana/node-dota2/blob/31e823811667f4a5308d684659bdfc7ce9a171a2/proto/dota_shared_enums.proto#L315-L324

[2017-02-03 19:08] shockwaves commented on #436
Thank you very much! your answer helped me! :)

[2017-02-04 14:24] Crazy-Duck commented on #437
The TODO in the README signifies we still need to write the doc for that parameter, since we haven't taken the time to figure out what it takes yet :) So yes, this library is able to do just that (since we can do anything the normal client can by design) you just need to figure out *how* exactly. Try creating a lobby for pudge wars with the normal client while running nethook to figure out the par

[2017-02-04 14:25] Crazy-Duck commented on #436
Can this be closed then?

[2017-02-04 15:11] Crazy-Duck commented on #435
Alright, what you're trying to do looks simple enough. Here's some untested code (seriously, i just wrote this without testing) that should guide you in the right direction.
Start with a clean workspace, so like an empty folder. Create a package.json file like this:
[code]
and an index.js file like this:
[code]
Update the contents of index.js with your discord token, the name of the channel in dis

[2017-02-04 15:36] ProbablyPeps commented on #435
Wow, youre really helping me out there. Unfortunately i didnt write my own discord bot, just downloaded, followed instructions and set it up.
But youre right, what you gave me here really points the direction, im very gratefull.
What i'm gonna do is look for someone who can understand this code and make it up and running.

Thank you very much, you rlly deserve a hug :)

[2017-02-04 15:54] Crazy-Duck commented on #435
Alright glad to help :) close the issue if you need nothing else

[2017-02-04 15:55] #435 closed

[2017-02-04 16:52] shockwaves commented on #436
yes!

[2017-02-04 21:23] #436 closed

[2017-02-07 22:41] rossengeorgiev commented on #431
I might have a solution for you guys. Try sending a profileCard request for account you are logged in with, after you get a non empty response, try sending chat messages.

[2017-02-08 07:12] Crazy-Duck commented on #431
@rossengeorgiev can you provide some more context to this? How do profilecard requests influence your ability to chat?

[2017-02-08 16:03] rossengeorgiev commented on #431
Ok, so I encountered someone complaining that they can't chat and getting the `not level 5` message. They provided a screenshot and their profile card was blank. So, we know lvl5 message is server side, and the level is not part of the game account shared object. I'm thinking profile is fetched server side, and cached, and the instance handling the specific client looks up the value from there to

[2017-02-08 21:21] bippum commented on #431
Hi, I'm having the same issue where I can't chat,
[code]
Here is the response I get from `requestProfileCard`. Still can't chat in public chat channels. I activated this account by buying something from Steam marketplace.

[2017-02-08 22:28] rossengeorgiev commented on #431
@bippum you have 110 badge points, which is level 1, and you need level 5 to chat.

[2017-02-08 23:06] bippum commented on #431
I know this but it worked before and then the same day as Valve "cracking down" on Boostore.net advertisers/etc it broke. What's frustrating is it did nothing to stop those advertisers.

[2017-02-09 02:21] qing5hu1 commented on #431
`9 Feb 02:18:37 - Logged on.
9 Feb 02:18:37 - Launching Dota 2
9 Feb 02:18:37 - Received servers.
9 Feb 02:18:38 - Sending ClientHello
9 Feb 02:18:38 - Received client welcome.
Node-dota2 ready.
9 Feb 02:18:38 - Sending profile card request
9 Feb 02:18:38 - Joining chat channel: quaswexreport
9 Feb 02:18:39 - Cache(s) subscribed, type(s): 1,7
9 Feb 02:18:39 - Received inventory snapshot
9 Feb 02:1

[2017-02-09 05:08] rossengeorgiev commented on #431
Ok, I'm out of ideas. Maybe, it only says its level 5, but its actually higher.

[2017-02-09 14:07] Crazy-Duck commented on #431
Have you spent more than $5 on the account? Verified the email address?
http://steamcommunity.com/app/570/discussions/0/617330406652296100/

[2017-02-09 14:15] bippum commented on #431
Yes that's how I got it working in the first place. It's almost like the account was blacklisted.

[2017-02-09 14:17] Crazy-Duck commented on #431
But yours is still lvl 1 right? You need to have spent 5$ *and* leveled your account at least to lvl5

[2017-02-09 14:23] qing5hu1 commented on #431
Made over $30 worth (more than that) of purchases on the account, dating back to 2010. With the most recent purchase being Huniepop in Novmeber
![2000px-fiji_water_logo svg](https://cloud.githubusercontent.com/assets/23038323/22787173/31813d90-eefd-11e6-842f-df16348ce82c.png)

[2017-02-09 14:35] Crazy-Duck commented on #431
Yes, but is its in-game dota 2 level > lvl 5?

[2017-02-09 15:53] qing5hu1 commented on #431
Yes it is
```"badge_points": 800```

[2017-02-09 16:37] bippum commented on #431
This honestly seems like a Valve-lack-of-communication issue rather than a node-dota2 issue. And our use case is so niche it doesn't seem like a priority for Valve at the moment anyway. I made a Reddit post about this earlier which was linked in the initial issue post but it didn't get much traction. I really don't know what choice we have other than to wait.

[2017-02-09 16:57] rossengeorgiev commented on #431
People who were spamming channels are to blame. Likely using `node-dota2`. I won't expect much after forcing Valve implement stupid blocks to counter spammers.

[2017-02-14 18:48] chriscapetown commented on #178
Hi, did you ever resolve this?

[2017-02-14 19:45] oleghalin commented on #178
Dota2.joinChat('Lobby_' + id,3);
its solution.

[2017-02-14 20:50] chriscapetown commented on #178
Thanks for your response!

Im using the example2.js provided in this library and have it all running - one thing I cant figure out is where to get the lobby_id?

Snippet:

`Dota2.createPracticeLobby(lobbyPassword, properties, function(err, data) {

                        // Invite a player to the lobby
                        Dota2.inviteToLobby(player_id);
                        console.log("In

[2017-02-14 21:47] Crazy-Duck commented on #178
In response to the createPracticeLobby request there will be a practicelobbyupdate event that will contain all information about the lobby, including its id

On 14 Feb 2017 9:50 p.m., Chris Edington <notifications@github.com> wrote:

Thanks for your response!

Im using the example2.js provided in this library and have it all running - one thing I cant figure out is where to get the lobby_id?

Snip

[2017-02-14 21:59] chriscapetown commented on #178
Thanks! That lead me in the right direction.

Got closer, however it seems to send the message but it reports no people in the Lobby Chat and no messages come through when I check with my actual game client?

14 Feb 23:54:43 - Sending message to Lobby_24948305069140918
14 Feb 23:54:43 - Chat channel Lobby_24948305069140918 has 0 person(s) online
14 Feb 23:54:43 - Received popup:

I used this now t

[2017-02-15 06:10] Crazy-Duck commented on #178
Since you created the lobby, it seems only logical that when you join the lobby chat, there's no one else there. Now, as for the reason why you're not receiving any messages; have you checked the contents of the pop-up yet? If I'd have to guess, I take it your bot isn't level 5 yet, or it hasn't spent at least $5 in the steam store.

[2017-02-17 09:36] chriscapetown opened #442 "Practice matches are not available via GetMatchDetails"
Hey guys,

Hoping someone can shed some light on something for me.

I created a lobby with my bot and then played the game, and im getting this message when trying to make this request:

REQUEST:

https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001/?match_id=2997320481&key=xxxxx

RESPONSE:

[code]

Would/should lobbies that my bot creates with the following settings, be availble on t

[2017-02-17 10:04] Crazy-Duck commented on #442
Well, the GC's response is pretty clear.. Stats from practice lobbies will never be made available through the API. This is done a.o. to protect pro-player scrims (remember the scandal with the leaked scrim drafts?). If you want your lobbies to show up in the API, you need to ticket them

[2017-02-17 10:55] chriscapetown commented on #442
Thanks alot for the quick response, can you give me a little more detail on what you mean to "ticket" them?

[2017-02-17 13:32] Crazy-Duck commented on #442
Only lobbies that are played "on a ticket" figure in the API, i.e. only matches that are created as part of a recognized league. If you've got a league with a sufficiently large user base, or you're organizing a tournament with a sufficiently large/high tier participant pool, you can apply for a ticket with Valve. Once your ticket got attributed, the admin of your league can, upon creation of a ne

[2017-02-18 15:20] elpaxdota opened #444 "custom game ACCEPT button"
I'm used this library for creating custom game lobby. When I'm launching game\lobby popups default green ACCEPT button and bot can't accept it ( because it's bot :) ) and I can't find any method to do that. So my questions: 1. Can I somehow spectate custom game (as normal game) ? 2. How can I press ACCEPT button with bot ?

[2017-02-18 17:09] Crazy-Duck commented on #444
Unfortunately that is not possible (nor is it trivial to add) at this time. There are two different communication protocols the Dota2 client uses to communicate with Valve servers. The first one, which is implemented in this library, is Google protocol buffers, which are used to communicate with the Dota 2 Game Coordinator. The Game Coordinator handles all general stuff, inventory management, chat

[2017-02-18 22:33] rossengeorgiev commented on #444
It's pointless having your bot accept as it can't connect. In the case of customs games, that will also cause the game to never start. So whatever you are trying to do is currently not possible with custom games.

[2017-02-19 15:14] innerfears opened #445 "Bug in handlers/chat.js"
In function joinChat, the first instruction is:

`channel_type = channel_type || Dota2.schema.lookupEnum("DOTAChatChannelType_t").DOTAChannelType_Custom;`

this of course is done in order to make channel_type an optional argument. This overwrites channel_type if channel_type's value is 0 (false) but 0 is a valid value for channel_type.
From proto:

enum DOTAChatChannelType_t {
	DOTAChannelType_Reg

[2017-02-19 15:57] Crazy-Duck commented on #445
Good catch! I'll make sure it's fixed for 5.0.0. Gonna have to think about the most elegant way to fix this, might just have to add a 0-check 🤔

[2017-02-19 16:20] innerfears commented on #445
You could do something like

`channel_type = channel_type == null ? Dota2.schema.lookupEnum("DOTAChatChannelType_t").DOTAChannelType_Custom : channel_type;`

[2017-02-19 17:04] Crazy-Duck commented on #445
That wouldn't catch undefined. Think I'm gonna solve it like this:
[code]

[2017-02-19 17:47] Ne3tCode commented on #445
[code]
JavaScript things ¯\\\_(ツ)\_/¯

[2017-02-19 18:15] Crazy-Duck commented on #445
ugh, this is why I hate using == -_-'

[2017-02-19 18:36] howardchung commented on #445
Some consider the `x == null` case the only acceptable use of `==` since it's a nice shorthand.

I prefer to use `===` everywhere, so I just explictly write out `x == null || x == undefined`

[2017-02-20 08:37] Ne3tCode commented on #445
Maybe [`Number.isInteger(channel_type)`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger)? At least we'll be sure that `type` is not string, object or something else.

[2017-02-20 09:48] Crazy-Duck commented on #445
I don't think I'm going to go overboard on parameter validation, else we'll be doing more validation than actual functionality. The interface is defined and the GC will throw errors if we pass incorrect parameters. So the null/undefined check to verify there at least is a parameter present seems sufficient to me..

[2017-02-20 12:34] Silur commented on #227
not working nor with the '0' hack, neither with the schema lookup method, the bot still creates a new channel for itself

[2017-02-20 13:19] Silur commented on #445
so again, what do people have to pass as parameter when we want to connect to regional channels? because neither `0`, `'0'`, or `DOTAChannelType_Regional` is working

[2017-02-20 13:23] Silur commented on #445
btw the double tilde `~~` is an elegant way of checking for a zero value, it doesn't trigger on null and undefined but triggers both on 0 as number and '0' as string

[2017-02-20 15:10] innerfears commented on #445
Just manually correct the bug on your own for now

[2017-02-20 15:34] ProbablyPeps commented on #445
Can you show us the exact way to correct it please?

[2017-02-20 17:09] innerfears commented on #445
In file handlers/chat.js

`Dota2.Dota2Client.prototype.joinChat = function(channel_name, channel_type) {
    channel_type = channel_type || Dota2.schema.lookupEnum("DOTAChatChannelType_t").DOTAChannelType_Custom;`

Add `if (channel_type !== 0)` before channel_type = ......

obtaining

`Dota2.Dota2Client.prototype.joinChat = function(channel_name, channel_type) {
if (channel_type !== 0)
        cha

[2017-02-20 20:51] Crazy-Duck commented on #227
See #445 there's a bug in chat.js for handling regional chat. It's slated for fixing somewhere this week

[2017-02-20 20:53] Crazy-Duck commented on #445
Issue is fixed on the doc branch (where I'm preparing v5.0.0). Be careful to read the CHANGELOG.md though, cause there have been a few changes to the API

[2017-02-20 21:02] Crazy-Duck commented on #415
Fixed in 5.0.0

[2017-02-20 21:02] #415 closed

[2017-02-20 21:03] #407 closed

[2017-02-21 07:07] Crazy-Duck commented on #437
README has been updated for 5.0.0

[2017-02-21 07:07] #437 closed

[2017-02-21 07:08] Crazy-Duck commented on #442
@chriscapetown can you close this issue if you've got no further questions?

[2017-02-21 07:47] chriscapetown commented on #442
Thanks for the help @Crazy-Duck !

[2017-02-21 07:51] ProbablyPeps commented on #445
Thanks guys

[2017-02-21 09:40] Silur commented on #445
I've already tried this and many alternatives yesterday, no channel check, make regional the default option and even hardcoding the regional option all without success the bot still creats a user channel with 0 users.

[2017-02-21 10:40] Crazy-Duck commented on #445
Are you sure you're providing the correct name for the regional channel?

[2017-02-21 10:49] innerfears commented on #445
Whenever i join a regional channel the log says it has 0 users to me too; don't be deceived, you actually joined the  channel, just listen for messages and log them if you want to make sure, or log in with another account through steam and check that the bot is in the channel

[2017-02-21 22:37] rossengeorgiev commented on #445
Regional type channels don't get the member list from GC, but via a HTTP API.

[2017-02-25 07:55] altairmizuchi opened #447 "Idle logoff"
Hello!
What should I call to stop timeout logoff? Is there some parameter or idle message call?

[2017-02-25 16:22] Crazy-Duck commented on #447
There is no idle log-off. As long as the bot is running it will keep sending keep-alive messages to the GC

[2017-02-25 16:22] #445 closed

[2017-02-28 03:10] kevinyeo92 opened #448 "Game Mode for All Pick Ranked"
May I know which GameMode below is belong to All Pick Ranked Match? For example, Radiant picked 1st hero then Dire turn to pick 2nd.. and so on

enum DOTA_GameMode {
	DOTA_GAMEMODE_NONE = 0;
	DOTA_GAMEMODE_AP = 1;
	DOTA_GAMEMODE_CM = 2;
	DOTA_GAMEMODE_RD = 3;
	DOTA_GAMEMODE_SD = 4;
	DOTA_GAMEMODE_AR = 5;
	DOTA_GAMEMODE_INTRO = 6;
	DOTA_GAMEMODE_HW = 7;
	DOTA_GAMEMODE_REVERSE_CM = 8;
	DOTA_GAMEMODE

[2017-02-28 03:10] howardchung commented on #448
22

[2017-02-28 03:47] kevinyeo92 commented on #448
Thanks a lot :)

[2017-02-28 03:47] #448 closed

[2017-02-28 07:45] kevinyeo92 commented on #362
GET //webapi/IDOTA2MatchStats/GetRealtimeStats/v001?server_steam_id=90105191599565825 HTTP/1.1

@Crazy-Duck may I know how to get the server_steam_id?
I have a bot placing at unassigned player, I am able to get match_id, lobby_id etc..
I wish to get K/D/A gold etc of every player in the match. But I only saw bot's info, not every players.

[2017-02-28 07:49] rossengeorgiev commented on #362
There server steam id should be available in the lobby shared object

[2017-03-01 04:26] kevinyeo92 commented on #433
requestMatchDetails() not available for Practice Match/Private Lobby?

[2017-03-03 00:25] jimmydorry opened #450 "Hosting Custom Games - Notes for later"
Note for distant future me, or anyone else that wants this to happen:

You allegedly can't host custom games without their computed crc value (I haven't tested) according to their experience and the [protobuff](https://github.com/Arcana/node-dota2/blob/a470b22d25b985c43bd5f841f479e65a59f12f2a/proto/dota_gcmessages_client_match_management.proto#L119).

The potential [CRC64 algo](https://t.g-ds.io/a

[2017-03-04 10:23] truered2 opened #451 "How get regional chat channels ban information?"
Hello! How i get regional chat channels ban information? I guess it k_EMsgGCToGCPublicChatCommunicationBan but i don't know how send this request and read response. Help, please.

[2017-03-04 10:38] rossengeorgiev commented on #451
k_EMsg `GCToGC` PublicChatCommunicationBan

[2017-03-04 10:40] truered2 commented on #451
I don't now you, rossengeorgiev. Can you talk me more information?

[2017-03-04 12:37] Crazy-Duck commented on #451
He's highlighting the fact that the message you linked is a message that's exchanged between game coordinator instances and hence won't be responded to if sent from the client

[2017-03-05 07:40] zeTurk opened #452 "Multiple lobbies by one bot"
When I create a lobby, start the game, then make the bot leave the lobby and try to start another lobby (while the other game is still going on) a new lobby is not created. Is this intended or am I doing something wrong?

[2017-03-07 12:22] Crazy-Duck commented on #452
Yeah, I'm pretty sure you need to both leave and abandon the lobby. It's the same with the normal client, if you disconnect from an ongoing game, you need to confirm by abandoning

[2017-03-11 09:28] zeTurk commented on #452
Yep, this worked.

[2017-03-11 09:28] #452 closed

[2017-03-13 00:16] hhuh commented on #431
I got my bot account to chat in public channels again.  Apparently you need to be over level 5 and have over 20 games of matchmaking.  I had 20 games of co-op bots and normal matchmaking but it still didn't work.  But now I made sure that I have 20 games of regular matchmaking games instead.  Although it didn't get the account to talk immediately, when I checked in after a few days, the bot is abl

[2017-03-13 00:33] bippum commented on #431
Thanks for that info, I'll see if I can will myself to play those games :P

[2017-03-13 12:23] Crazy-Duck commented on #431
Alright, gonna look to add that somewhere on the wiki or so

[2017-03-13 12:23] #431 closed

[2017-03-13 22:07] Smashman opened #454 "test"

[2017-03-13 22:09] #454 closed

[2017-03-14 13:57] ProbablyPeps opened #455 "node-dota2 | Discord help"
Hello.
I would like to ask for a hand here please
**The 2 bots are connected Discord-node-dota2,. the GC bot ignores discord bot, its good otherwise it would create loops.
But i would like node-dota2 bot not ignore a specific bot, i have its ID**

**## The question:
Can i replace: !msg.author.bot
with !msg.author.BOTID or BOTNAME
so only 1 bot will be ignored, which i specify id for?**

Heres what

[2017-03-14 14:32] #455 closed

[2017-03-14 14:35] ProbablyPeps opened #456 "Bot keeps changing name back..."
Hi.

My bot keeps changing it's name back from Profile name -> Steam account name every time it goes online.
Even if im using
dota.steamFriends.setPersonaName("Profile name");
it gets changed :(
If i log into account and change manually it will stay that way, but get changed back almost every time at login. (not always..dont know why)

[code]

Here is a screenshot of what happens when i run the bo

[2017-03-16 13:49] Crazy-Duck commented on #456
You created this issue in the wrong repo, this is a node-dota2-bot issue, not a node-dota2 issue.

[2017-03-16 13:49] #456 closed

[2017-03-17 19:24] zairkz opened #457 "Need help"
I would like to ask if I launch the project with use the bot and node-dota2, can Valve block me((? Maybe i need some sort of permission from Valve?

[2017-03-18 15:28] XenBG commented on #362
@rossengeorgiev , do you know how to convert the channel_user_id to the real user's SteamID from http://www.dota2.com/webapi/IChat/GetChannelMembers/v0001?channel_id=552 ?

[2017-03-19 10:36] rossengeorgiev commented on #362
You cant 'covert'. It supposed to be unrelated, in order for people to be 'anonymous'.

[2017-03-19 13:01] XenBG commented on #362
Yea, I realized that after the last update 😄 . That sucks.

[2017-03-19 22:09] notscimmy opened #458 "requestFriendPracticeLobbyList"
This function is always giving an empty response even if I have a friend with an open practice lobby with friends/public visibility. I've tried it on a fresh account and an account with a game purchased. It also does not provide an error code.

Anybody have any idea what is going on?

[2017-03-19 23:14] swangboy55 commented on #458
Can confirm, it is not working for me either

[2017-03-20 06:30] kevinyeo92 opened #459 "Cannot send message to a channel you have not joined"
[code]

[code]
chatJoined's response --- my bot had joined the Lobby channel that my bot created.

I am able to joinChat and sendmessage using the last January/February's commits.
I just updated again with current new commits. Now I am having problem sending message to Lobby.

Anyone encounter same issue?

[2017-03-21 13:48] Crazy-Duck commented on #458
Do you receive an actual response from the GC or it just never answers?

[2017-03-21 13:49] Crazy-Duck commented on #457
I'll quote our disclaimer from the README:

We do not in any way encourage people to use their own accounts when using this library. This library tries to mimic the behavior of the Dota 2 client to allow people to programmatically interact with the Dota 2 GC, however we make no efforts to hide this fact and it's pretty easy for Valve to detect clients using this library based on the generated traf

[2017-03-21 13:50] #457 closed

[2017-03-21 14:51] kevinyeo92 commented on #459
my bot is unable to send message to Lobby.
`Dota2.sendMessage('Lobby_24995653311042253', 'Test chat.', channeltype);`

[2017-03-21 15:06] Crazy-Duck commented on #459
Can you try to wrap that statement in a settimeout with 0ms delay?

[2017-03-21 15:08] kevinyeo92 commented on #459
I tried everything, it does not work. It error message was "Cannot send message to a channel you have not joined".

Before I pull this new commits, my code sendMessage code was working fine. I'm just curious was it only me encounter such issue.

[2017-03-24 02:28] bippum commented on #431
Well, the account has 20 games played, and I spent 6 dollars on on Golf with your Friends, and I can't talk still. Here's some screenshots:

 - http://puu.sh/uWsut/7256efae3e.png
 - http://puu.sh/uWsw9/5658ff857c.png

Gonna play a few more games on the account to see if that will kick it over.

[2017-03-24 07:16] Crazy-Duck commented on #459
Hmm, can you change L23 of chat.js in your version of the library to `return ("" + item.channel_id === "" + channel_id);`

[2017-03-24 07:36] kevinyeo92 commented on #459
changed, not working.. my code doesn't hit L23 of chat.js

[2017-03-24 08:47] Crazy-Duck commented on #459
Could you provide a minimal working example of your code that provokes the error?

[2017-03-24 08:53] kevinyeo92 commented on #459
[http://imgur.com/a/23VXP](url)

Not sure if I am doing it correctly. But this code worked previously.

[2017-03-24 11:04] jimmydorry commented on #459
Rather than give something that someone could use to help you with your problem, you gave them a screenshot? To run that code, one would need to type it all out, thus wasting more time... and it's not even a minimal working example. Seems legit.

If it was me trying to help you, I would have just closed the issue.

[2017-03-24 13:01] kevinyeo92 commented on #459
Sorry @jimmydorry.. I will workout and paste out a run-able code.

[2017-03-25 16:13] qing5hu1 opened #460 "How do I go on about rejecting Lobby/Party invites?"
Not an issue, but going through an XY problem here:
[code]
This is my code right now, but It does nothing.
I want the bot to reject all lobby invites and party invites.

[2017-03-27 07:01] Crazy-Duck commented on #460
Can you be a bit more specific about what the expected behavior is and what you're getting? The snippet is correct in my eyes

[2017-03-27 16:40] qing5hu1 commented on #460
Weird it wasn't working at first but it's all good now. Feel free to close the issue.
For future reference, this is what I did:
[code]

[2017-03-27 16:40] #460 closed

[2017-03-28 07:04] qing5hu1 opened #461 "kMsg_name returns undefined."
[code]

Console shows this:
[code]

Discord as well:
https://i.imgur.com/wAzWF05.png

[2017-03-28 08:32] Crazy-Duck commented on #461
What version of the library are you using? Cause I just tested it with the latest version and everything seems to work fine...

[2017-03-28 11:08] qing5hu1 commented on #461
4.2.1, will be rewriting on 5.0 when you push it to stable

[2017-03-29 11:14] Crazy-Duck commented on #461
Can you try with v5.0.0? We just pushed it to npm

[2017-03-29 20:18] qing5hu1 commented on #461
Updated to 5.0.0, is there anyway I can check this? or I'll keep monitoring on discord for an unhandled message.

[2017-03-30 05:07] Crazy-Duck commented on #461
Don't think so. In any case, there's a unit test to verify if the function behaves correctly in 5.0.0 and it passes :)

[2017-03-30 18:51] markrmessmore opened #465 "Connection closed by server"
I'm certain that this is a problem between my keyboard and my chair however I'm honestly not certain what's going on. I've followed the instructions in terms of installing:

```npm install dota2```

I've moved ```config.js.example``` to ```config.js```. I've entered in my steambot account's username and password (I've double and triple checked-it), and when running example.js I get:

```30 Mar 14:

[2017-03-30 20:16] Crazy-Duck commented on #465
The tests should be executed with moccha while having the two environment variables set to the username and password. However, I doubt that that will work when the examples don't.. Does the account have 2fa activated or so?

[2017-03-30 20:17] Crazy-Duck commented on #465
There was just a patch, try again in like half an hour, GC might be rebooting as well

[2017-03-30 21:42] markrmessmore commented on #465
2fa is not activated. I was able to log in previously with the steam-user module however haven't been able to get this to work. And now that I've done a bit more digging I see the test.js isn't really meant to be run, the example.js & example2.js are the true tests.

Errors are still happening.

[2017-03-31 03:18] markrmessmore commented on #465
FWIW I wanted to reorganize my project so I spent this evening doing that and did a fresh install of the dota2 module...same result.

However I did notice not all the files/folders would show up when I did the ```npm install dota2```.  I downloaded the zip to get the examples, could that be causing this?

[2017-03-31 06:25] Crazy-Duck commented on #465
The exmples etc. are no longer included in the npm package, since you really don't need those to use the library. If you want to run the examples, you are indeed better off forking/downloading the repo

[2017-03-31 06:44] Crazy-Duck commented on #465
Do you have the config.js file in the same directory as the example files? Did you comment out the lines in the config for 2FA? Can you add a few printlines right before L193 and L195 in example.js? Make it look like this:
[code]

[2017-03-31 12:54] markrmessmore commented on #465
The config.js IS in the same directory as the example files. I did comment out the config for 2FA (I also tried it as being ```""``` however no change.) I've changed lines 193 and following as you recommended. Here is the output:

[code]

For any wondering, yes the correct account name and password were showing up, I've commented them out here.

[2017-04-01 14:41] markrmessmore commented on #465
Marking this as resolved.

What resolved it? Nothing really. Steam Guard was turned off. I turned it on. Verified. Turned it back off. Now it logs in. Volvo pls.

Thanks for your help.

[2017-04-01 14:41] #465 closed

[2017-04-01 14:55] rossengeorgiev commented on #465
There are multiple things that can cause a disconnect, but without providing the `LogonResponse.eresult`, there is no way to debug. You could've been rate limited due to many failed logins, typically 15 minutes. Or maybe the CM you connected to was out of service

[2017-04-01 17:24] qing5hu1 commented on #461
https://u.nya.is/yrmcnm.PNG
it works now :)

[2017-04-01 17:24] #461 closed

[2017-04-03 11:40] #451 closed

[2017-04-03 11:41] #447 closed

[2017-04-05 15:04] waini1110 opened #471 "can't create Practice Lobby"
this code :
[code]
the info:
[code]

thank you.

[2017-04-06 11:28] Crazy-Duck commented on #471
Which version of the library are you using?

[2017-04-06 14:30] waini1110 commented on #471
node 7.8.0
node-dota2 4.2.1

edition problem?

[2017-04-06 14:47] #471 closed

[2017-04-06 21:57] JasonMcz opened #472 "Can a given bot create a match, start the game, quit the game then start another practiceLobby?"
Can a given bot create a match,
start the game, quit the game then start another practiceLobby?

[2017-04-07 01:04] 3lang3 opened #473 "requestProfileCart return back is not correct?"
The dotaopen show my mmr is correct: 4.5k
but i try test on my account use the example code, i get the result like this:
[code]

[2017-04-07 01:17] EthanOrange commented on #473
I found the source in https://github.com/odota/core/svc/retriever.js  line: 67

[code]
k_eStat_Commends == my solo rank?
k_eStat_GamesPlayed == my normal rank?

[2017-04-07 01:19] jimmydorry commented on #473
You need to be displaying your MMR in your profile. It looks like you are only showing `Commends` and `Games Played` on your profile (the user must choose what they display publicly).

[2017-04-07 01:25] EthanOrange commented on #473
@jimmydorry  Thank you reply.
I wanna know why the dotaopen can get my mmr?

[2017-04-07 01:28] EthanOrange commented on #473
@jimmydorry  They analyzed my game video to get my nearest mmr number. right？

[2017-04-07 01:35] jimmydorry commented on #473
Or used an unknown exploit, or scraped and stored it from a previous leak, or just guessed (4.5k is a nice round number).

[2017-04-07 01:37] jimmydorry commented on #473
You could probably look at their source code, or just ask @howardchung

[2017-04-07 01:41] EthanOrange commented on #473
@jimmydorry  ok  i  will  ask howardchung

[2017-04-07 02:36] EthanOrange commented on #473
@jimmydorry  I pass SteamOauth,  could i get the dota2 account id?

[2017-04-07 03:19] howardchung commented on #473
It's probably just an old value from when you did show MMR.

[2017-04-07 04:42] howardchung commented on #473
@Crazy-Duck

The dump that @EthanOrange shared above has the stat_id rendered like:
[code]

However it looks like the actual value of this field is still a number, e.g. `1`.  Was this a change in protobufjs that causes `JSON.stringify` to attempt to resolve ids to enum names?

[2017-04-07 05:16] Crazy-Duck commented on #473
I haven't had the time to take a detailed look at the stuff they changed. If I recall correctly, the enums are now complex objects with a whole bunch of utility functions defined on them. I had to change all references to the enums to `Dota2.schema.lookumEnum("...").values` to get everything working again. I assume they've added a new toString function to the object as well that returns the id ins

[2017-04-07 05:18] Crazy-Duck commented on #472
Yes indeed it can, just follow your call to `launchPracticeLobby` with a call to `leavePracticeLobby`

[2017-04-07 05:40] Crazy-Duck opened #474 "Deprecate 4.2.0, 4.2.1 and 5.0.0"
@RJacksonm1 could you by any chance [deprecate](https://docs.npmjs.com/cli/deprecate) 4.2.0, 4.2.1 and 5.0.0 on npm? These versions have a dependency on protobufjs ^6.0.0 which got broken with the release of 6.7.0.
I fixed this in 5.0.1 by forcing ^6.7.0. Our v4.1.0 and below still depend on protobufjs ^5.0.0

[2017-04-08 09:53] greenkeeper[bot] opened #475 "An in-range update of protobufjs is breaking the build 🚨"
## Version **6.7.2** of [protobufjs](https://github.com/dcodeIO/protobuf.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Arcana/node-dota2/compare/greenkeeper%2Fprotobufjs-6.7.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      protobufjs
    </td>
  </tr>
  <tr>
    <th align=left

[2017-04-08 21:07] JasonMcz commented on #472
Tried this method and bot ended up inviting users to spectate the game it has lobby it has created?

[2017-04-10 06:11] Crazy-Duck commented on #472
Try to follow up the `leavePracticeLobby` call with an `abandonCurrentGame`call, before you create the new one.

[2017-04-10 11:07] Crazy-Duck commented on #475
Steam time-out, tests run fine

[2017-04-10 11:07] #475 closed

[2017-04-10 18:15] zackcoburn opened #476 "What is UNHANDLED MESSAGE 4009?"
I have a bot that works fine for a while and eventually starts getting this error:

10 Apr 14:09:56 - Dota2 fromGC: undefined
10 Apr 14:09:56 - UNHANDLED MESSAGE 4009

What does it mean? Is it a ban?

[2017-04-10 22:13] rossengeorgiev commented on #476
It not a ban, just unhandled message. Don't worry

[2017-04-10 22:14] zackcoburn commented on #476
How do I avoid it? It is making it impossible to run a bot.

[2017-04-11 09:11] RJacksonm1 commented on #474
Done. I've deprecated everything under 5.0.1 (the really old versions surely won't be in a working state either).

[2017-04-12 06:12] Crazy-Duck commented on #476
How does it make it impossible to run a bot? It's just a notification printed to the console. If you don't want to see it anymore, disable debug output.. I also take it you're not running the latest version of the lib, cause then the output would specify what type of message it was that wasn't handled.

[2017-04-12 06:14] zackcoburn commented on #476
Yep, you are right, it was my fault!

[2017-04-12 06:14] #476 closed

[2017-04-12 06:15] Crazy-Duck commented on #474
Alright, thanks!

[2017-04-12 06:15] #474 closed

[2017-04-12 13:58] Crazy-Duck opened #477 "Firstbloodio forked and pushed our repo to npm"
Anyone has seen this yet?
https://www.npmjs.com/package/fb-dota2
https://www.npmjs.com/package/fb-steam

It seems like the people at firstblood.io forked our repo and node-steam's and pushed the fork to npm, under their own name o_O

[2017-04-12 15:50] howardchung commented on #477
They're free to do that.  Did they add any features we want to merge back?

[2017-04-12 21:45] jimmydorry commented on #477
We will be hearing more from them soon, I assume. They are doing blockchain (Etherium) powered betting, combined with their own dueling and queueing system. They got in contact with the only public email associated with this repo, and were pointed to this issue tracker.

[2017-04-13 05:52] Crazy-Duck commented on #477
Strange thing is they didn't seem to have added anything, the only change I see atm is that they've commented one debug output. All the links in the README and stuff still point to this repo. Just thought it strange to basically push what is an identical clone to npm. It's not like this lib is stale or that we don't take requests :thinking:

[2017-04-13 06:17] jimmydorry commented on #477
I imagine this is why they tried to get in contact to "bounce ideas" off us. :laughing:

Time will tell, I guess. I just hope they commit back what ever innovations they make... as it wouldn't make sense for them to add firstblood specific stuff to what should just be a library.

[2017-04-13 06:46] Crazy-Duck commented on #477
I'll keep an eye on their repo from time to time; if something interesting pops up, I'll go steal it :laughing:

[2017-04-13 08:49] rossengeorgiev commented on #477
🍿

[2017-04-14 10:35] csplkiller opened #478 "createPracticeLobby error"
Please help me with the creation of the lobby
When I try to create a lobby, I get an error
I can not understand what I'm doing wrong.

[code]

And I get the following result:

[code]
Sometimes produces this error - DOTA_JOIN_RESULT_ALREADY_IN_GAME

[2017-04-14 10:40] csplkiller commented on #478
node -v
v7.8.0
package.json

[2017-04-14 11:18] csplkiller commented on #478
[code]

result:

[code]

[2017-04-14 12:18] csplkiller commented on #478
The lobby is created.
But I can not immediately get it ID

[2017-04-14 12:59] csplkiller commented on #478
=========== leavePracticeLobby ===========
14 Apr 15:55:50 - Sending match CMsgPracticeLobbyLeave request
14 Apr 15:55:51 - Received create/flip/shuffle/kick/launch/leave response {"result":"DOTA_JOIN_RESULT_ALREADY_IN_GAME"}

=========== createPracticeLobby ===========
14 Apr 15:55:51 - Sending match CMsgPracticeLobbyCreate request
14 Apr 15:55:52 - Received create/flip/shuffle/kick/launch/leave

[2017-04-14 14:38] csplkiller commented on #459
I have the same problem
My code:

[code]

Bot log:

[code]

[2017-04-14 14:42] csplkiller commented on #459
I understood the problem.
The fact is that in the examples there are minor errors
In this case, messed up the message and the name of the channel.

Dota2.sendMessage("Hello from BOT...", 'Lobby_' + lobby.lobby_id, 3); // Right code

[2017-04-14 20:31] csplkiller commented on #179
How to leave lobby after launching it?
I need to have the bot launch the lobby, then leave the game, and immediately create a new lobby. How to implement this?

If I do first abandonCurrentGame(),then leavePracticeLobby()., then I get a red screen in the match, and trying to create a new lobby - I get into the old lobby

[2017-04-14 22:43] oleghalin commented on #179
Im using function like this
`function leaveLobby()
{
	Dota2.abandonCurrentGame();
	Dota2.leavePracticeLobby();
	Dota2.leaveChat('Lobby_'+id);
}`

[2017-04-15 09:05] csplkiller commented on #472
After I call leavePracticeLobby and abandonCurrentGame, I get an error in the match. It can continue to play - but the error seems to players critical and they leave the server.

![2017-04-15_11-59-37](https://cloud.githubusercontent.com/assets/7470513/25062367/bb00fd4a-21d3-11e7-9e2c-1339bfb938b1.png)

My Code:

[code]

Bot log:

[code]

[2017-04-15 09:07] angel200sdnot commented on #472
Have you tried making the bot leave after the game starts?

[2017-04-15 09:11] csplkiller commented on #472
See my code:

I create a lobby:
leavePracticeLobby  - Just in case
createPracticeLobby

After starting the match, I do:
leavePracticeLobby
abandonCurrentGame

...

[2017-04-15 09:13] csplkiller commented on #472
Maybe I do not understand something?
Can you give a small sample code?

[2017-04-15 09:15] csplkiller commented on #472
The task is this. Launch a match for the players.
Disconnect from server
Exit the lobby
...
Create a new match (lobby) with new parameters

[2017-04-15 09:17] csplkiller commented on #478
Sorry, node-dota2 is working.
Only returns why it is always the same errors.
I found a couple of errors in the code examples ...
Because of them it was difficult to start communicating with the library.

[2017-04-15 09:18] angel200sdnot commented on #472
I tried a lot of things to fix this issues and i couldn't, the only thing i didnt try was making the bot leave after the game started when everyone picked heroes

I didn't try it because i didn't want a downtime between lobbies

add this to you practiceLobbyUpdate event listener and remove the other disconnection method you were using

[code]

if that doesnt work then add Dota2.leavePracticeLobby(

[2017-04-15 09:20] csplkiller commented on #179
oleghalin Can I contact you?
We swill both speak Russian.

[2017-04-15 09:35] csplkiller commented on #179
If I use your function
The situation does not change, so in the queue error
And after the creation of the next lobby - it turns out that the bot
Gets into the old lobby (game) ...

![2017-04-15_12-33-13](https://cloud.githubusercontent.com/assets/7470513/25062614/019708ae-21d8-11e7-8b94-5548be0a67e7.png)

[2017-04-15 09:48] oleghalin commented on #179
Yes. Vk.com/pawno_ua

[2017-04-15 09:55] csplkiller commented on #472
Yes, this option seems to work - I get a message about communication error with the server for literally 1-3 seconds - after which it disappears ...

[2017-04-15 10:17] angel200sdnot commented on #472
Then it doesn't fix the issue, it only hides it

One last thing you can try is adding a timeout so it doesnt even show those 1-3 seconds

[code]
Thats as much as i can help you, if you do manage to hide the message complelety post it here and close the issue

[2017-04-15 13:15] Crazy-Duck commented on #478
You're not using the latest (5.0.1) version syntax of the library, so it's normal you're having issues.
`dota2.schema.DOTA_GameMode.DOTA_GAMEMODE_CM` does not work anymore, you need to change that to `dota2.schema.lookupEnum(DOTA_GameMode).values.DOTA_GAMEMODE_CM`.
Further, the reason why you're getting `DOTA_JOIN_RESULT_ALREADY_IN_GAME` is because you're not leaving your previous lobby before try

[2017-04-15 13:27] Crazy-Duck commented on #472
Alright, there seems to be a lot of misunderstanding going on around here, so let me clarify. When your bot creates a lobby, invites people to it, sets everything up, everyone (your bot included) is just connected to the Dota 2 Game Coordinator. However, once your bot calls `launchPracticeLobby', the GC sends a server ID to all people inside the lobby. Based on that ID everyone is supposed to conn

[2017-04-16 09:42] csplkiller commented on #478
console.log(dota2.schema.DOTA_GameMode.DOTA_GAMEMODE_CM);

return 2

console.log(dota2.schema.lookupEnum(DOTA_GameMode).values.DOTA_GAMEMODE_CM);

ReferenceError
DOTA_GameMode is not defined
ReferenceError: DOTA_GameMode is not defined

Where can I get the latest version of the library?
I instal node-dota2 by instruction..
npm install steam
npm install node-dota2

My package.json:

[code]

[2017-04-16 10:06] csplkiller opened #479 "Some errors in node-dota2"
I started studying the library two days ago, and I faced a lot of difficulties, due to mistakes in the examples and other things ..
I think we need to correct the examples, at least.

node-dota2/examples/example2.js

Line 32:
[code]
Swap message and channel name
[code]
And it would be nice to give an example of sending a message to the lobby and joining the chat lobby.
[code]

Line 129: Old method

[2017-04-16 10:24] ssovit opened #480 "setItemPositions not working?"
[code]

[2017-04-17 09:49] Crazy-Duck commented on #478
You're using the latest version, just the wrong syntax. The reason why you're getting a ReferenceError is because DOTA_GameMode should be passed as a string (my bad, I forgot them in the example I gave as well, it's updated now). Try this:
[code]

[2017-04-17 09:50] Crazy-Duck commented on #479
Indeed, it seems I forgot to update the examples when I changed everything to v5. Good catch! I'll update them

[2017-04-17 11:05] Crazy-Duck commented on #478
Btw, if you're receiving DOTA_JOIN_RESULT_ALREADY_IN_GAME in the debug output, but the error value in the return is null, disregard the debug output. Your lobby is created and available, it's just the debug output that's faulty. I'm going to check if I can do something about that..

[2017-04-17 11:32] Crazy-Duck commented on #479
#481

[2017-04-17 12:01] #479 closed

[2017-04-17 12:53] Crazy-Duck commented on #478
#482

[2017-04-18 06:22] ssovit commented on #480
hmm.. I made it working by adding these to my bot. Override setItemPositions made to ignore protobuff's illegal buffer error

[code]

not sure if this is proper way to do.. but its working for me

[2017-04-18 08:05] Crazy-Duck commented on #480
Could you verify if this works?
[code]

[2017-04-18 08:40] ssovit commented on #480
@Crazy-Duck that didn't work.

But this one works
[code]

`k_EMsgGCSetItemPositions` is in `EGCItemMsg` but not in `EDOTAGCMsg` in [econ_gcmessages.proto](https://github.com/Arcana/node-dota2/blob/staging/proto/econ_gcmessages.proto#L63)

but that keeps throwing buffer error so I had to add
[code]
to not crash the code as temporary solution.

[2017-04-18 08:44] ssovit commented on #480
[code]
This one worked instead of `"itemPositions": item_positions` as in schema file [base_gcmessages.proto](https://github.com/Arcana/node-dota2/blob/staging/proto/base_gcmessages.proto#L302)

[2017-04-18 09:00] Crazy-Duck commented on #480
Oh right, my bad, that one was still in the (very) old notation when protobufjs returned everything in camelCase instead of snake_case :blush: To be honest, since I've got no code to test this on my own and noone complained, I haven't looked into this for a long time and it's gotten a bit outdated... Could you try this?
[code]
I'm trying to avoid having to encode a protomask in this function

[2017-04-18 09:49] ssovit commented on #480
not working

[2017-04-18 09:51] Crazy-Duck commented on #480
Wait, so this (copied from your comment above) works?
[code]

[2017-04-18 09:51] Crazy-Duck commented on #480
Because you're no longer using the protoMask in that one

[2017-04-18 09:55] ssovit commented on #480
[code]

Oh sorry.. thought this was not working but there was no inventory sorting done. Sorry for confusion

[2017-04-18 09:56] ssovit commented on #480
`    this.sendToGC((1077 | protoMask), dota2.schema.lookupType("CMsgSetItemPositions").encode(payload).finish());`
this one is only one working right now

[2017-04-18 09:58] ssovit commented on #480
This is what I see when error is happening https://screencast.ssovit.com/2017-04-18_15h41_40.png

[2017-04-18 10:01] Crazy-Duck commented on #480
Wait, that error is produced in an entirely different part of the code! The error you're getting is produced in handlers\cache.js upon receiving the new snapshot of the inventory D:

[2017-04-18 10:04] ssovit commented on #480
ya.. when its not working no errors are shown, but when its working it throws error

[2017-04-18 10:10] trainingday01 opened #483 "Not logging with SteamGuard on"
Sentry file and config.steam_guard_code are empty at start, on first attempt of login I get the steamGuard code on the phone app, put it into config.json, restart the app and it doesn't log in, I receive another steamguard code instead.
And it always keeps saying this:

Connection closed by server: Error: Disconnected

Help appreciated

P.S.: I have tried an account without steamguard and it works

[2017-04-18 10:21] Crazy-Duck commented on #480
Can you just run the library without doing your inventory stuff? There seems to be something particular about your inventory that crashes the parsing of the cache update. When I run example I get the following output:
[code]
So you see that my inventory is parsed without issues. Could you try and run the lib without doing anything as well and check if the error shows up?

[2017-04-18 11:03] ssovit commented on #480
ya tried that.. if I don't call `setItemPositions` no error shows up.

[2017-04-18 11:14] Crazy-Duck commented on #480
hmm, so it's the inventory update after calling setItemPositions that causes issues?

[2017-04-18 11:15] ssovit commented on #480
I am not sure ;)

[2017-04-18 11:28] Crazy-Duck commented on #480
should be easy enough to figure out, just put your setItemPositions in a time-out :p

[2017-04-18 11:30] ssovit commented on #480
yeah.. i will do some checks.. i will keep you updated if I find a working solution

[2017-04-18 12:53] ssovit commented on #480
This one worked
[code]
turned off `k_ESOMsg_UpdateMultiple` for once as data was not being parsed properly or data was incomplete as it was new items position value(I suppose) message from GC and restored immediately after

[2017-04-18 20:24] Ne3tCode commented on #480
@Crazy-Duck
In `onUpdateMultiple`: `obj.object_data` is a `Buffer`, but `handleSubscribedType` expects `Buffer[]` (array).
As this code may be applied for a single item, you cannot use `this.Inventory = inv;` in `handleSubscribedType`.

[2017-04-19 08:26] Crazy-Duck commented on #480
Alright, so if understand correctly, inventory caches are handled differently than Lobby/Chat caches, who get sent in their entirety each time there's an update?

[2017-04-19 10:17] ssovit commented on #480
Its as @Ne3tCode said
on first "inventoryUpdate", it gives `[<Buffer ..... >, <Buffer ... >,...]`
but when setItemPositions if fired, it gives just `<Buffer ... >`, just the item that was set to new position(fires handleSubscribedType for all items individually).

handlers/cache.js
[code]
dota2.Dota2Client.prototype.sortItems = function (type) {
    console.log("sorting Items");
    let payload =

[2017-04-19 10:39] Crazy-Duck commented on #480
Alright, I'm writing a fix for that as we speak, but the problem's gonna be a little broader, since I'll probably need to take into account updateMultiples where there's additions and removals

[2017-04-19 12:24] Crazy-Duck commented on #480
I pushed a new branch called items, can you check with that one if everything's working?

[2017-04-19 12:27] Crazy-Duck commented on #483
Can you try changing `config.steam_guard_code` to `config.two_factor_code`?

[2017-04-19 12:28] Crazy-Duck commented on #483
Btw is your file named config.js or config.json? Because in the exaples we're looking for a js file

[2017-04-19 12:33] ssovit commented on #480
https://screencast.ssovit.com/2017-04-19_18h17_58.png
got this error

[2017-04-19 12:41] ssovit commented on #480
Here is my bot https://github.com/ssovit/Dota2Dispenser

[2017-04-19 12:44] Crazy-Duck commented on #480
My bad, forgot two brackets, think it should be better now :crossed_fingers:

[2017-04-19 12:48] ssovit commented on #480
Perfect!!

[2017-04-19 12:51] ssovit commented on #480
BTW.

[code]
This would be good addition to inventory.js as its fast and won't need sorting array and making it more faster. But not sure about what could be possible values for `type`

like sorting items by rarity, heroes, and so on like in dota 2 client.

[2017-04-19 12:56] Crazy-Duck commented on #480
Can you create a new issue for that one? That way I can close this issue with the PR into staging. I'll check sortItems and see if I can find out a bit more about it

[2017-04-19 12:57] ssovit commented on #480
Sure.. Thanks for your hard work 🥇

[2017-04-19 13:00] ssovit opened #484 "sortItems method for inventory sorting"
[code]
This could be used to sort items like in Dota 2 client

ATM I am using d2.sortItems(2) which would group set items together. Not sure about what other values does though 🤔

[2017-04-19 14:05] #480 closed

[2017-04-19 15:30] trainingday01 commented on #483
I followed the instructions and the config is config.js

Tried this:
`if (global.config.steam_guard_code) logOnDetails.two_factor_code = global.config.steam_guard_code;`

And I get this output:
[code]
I remove the steamGuard code from the config.js and it ignores the sentry file completely by just outputting
`19 Apr 17:22:12 - Connection closed by server: Error: Disconnected`
and sending again the

[2017-04-20 08:38] trainingday01 commented on #483
Tried this too:
`logOnDetails.auth_code = global.config.two_factor_code;`

Keeps saying:
`20 Apr 10:37:18 - Connection closed by server: Error: Disconnected`

[2017-04-20 08:54] trainingday01 commented on #483
Yes, it's config.js
Seems to work with:
`if (global.config.steam_guard_code) logOnDetails.two_factor_code = global.config.steam_guard_code;`

But, after removing the steam_guard_code from config and try to log in using sentry file, it won't.
Throws the error message
`20 Apr 10:51:23 - Connection closed by server: Error: Disconnected`
And sends the code to the mobile phone app.

[2017-04-20 09:10] trainingday01 commented on #483
Ok, you can close this, just found this on node-steam:
https://github.com/seishun/node-steam/issues/370#issuecomment-228603748

[2017-04-20 13:05] Crazy-Duck commented on #483
Yeah, was gonna reply that, sentry file does not work with 2FA, you need to enter a new code upon each login :) and you should change steam_guard_code to two_factor_code both in config.js and in your code evidently ;) Check (example2)[https://github.com/Arcana/node-dota2/blob/staging/examples/example2.js#L234] for how to do it

[2017-04-20 13:05] #483 closed

[2017-04-30 08:09] myserywork opened #488 "get game id"
is there any way to get game id while is running or b4 start? i need it for show match stats on my website

[2017-04-30 08:45] #488 closed

[2017-04-30 10:30] luxalpa opened #489 "Support for custom handlers?"
I'm using some functionality that isn't supported by node-dota2 and implemented my own versions of those handlers.

Currently I'm doing it like this:

[code]

Quite obviously this method has a serious problem: It's relying on node-dota2 internals that could change without notice in any update.

Would be cool if there was some official support for setting custom handler functions and sending custom

[2017-04-30 10:56] SmaugTheGreat commented on #444
The ReadUp message requires an encrypted key in order to accept your message. Quite obviously, this is to prevent bots from auto accepting matches. Releasing this functionality in a public respository like this one would be pointless, as Valve would simply keep changing the encryption algorithm.

[2017-05-01 13:30] Crazy-Duck commented on #489
Well, there are 2 obvious solutions here:
* create a pull request/issue with the new functionality you'd like to see implemented
* fork the library
We very much prefer the first solution :)

[2017-05-01 13:39] Crazy-Duck opened #490 "New debug log mechanism"
I've created a new branch where I implemented a proper way of writing logs, since util.log is deprecated. I've kept the default output identical to util.log, so outwardly there is no difference for our users, other than a new Logger property that's gonna be exposed.

The question is now, can I push this in a minor release or should this be put in a major one? Myself I'm inclined to put it in a min

[2017-05-01 13:39] Crazy-Duck commented on #490
Pinging the usuals @jimmydorry @howardchung

[2017-05-01 15:13] jimmydorry commented on #490
Wait what? https://nodejs.org/api/util.html#util_util_log_string

Woah, they are deprecating it. I would think minor is fine. I would imagine users probably use util.log themselves, and what ever work-around they make, won't be held back by us.

[2017-05-01 16:31] howardchung commented on #490
Minor is fine, there's no API change for the user.

[2017-05-04 09:41] CasperAlant opened #491 "Revisit using createPracticeLobby to join a dedicated server"
It has been two years to the day since @paralin explained in #64 that this was not possible at the time.

In my mind it should work similarly to how you can create a lobby in game and set the server to "Local Host", except in this case it needs to be a dedicated server.

Have we made any progress to make this possible?

Can anyone elaborate on what the process may look like?

[2017-05-04 15:20] rossengeorgiev commented on #491
It might be even more difficult now given the relay system.

[2017-05-04 17:07] paralin commented on #491
Go reverse engineer all of the Source 2 networking protocol and then come back to me.

[2017-05-09 19:09] CasperAlant commented on #491
Closing the issue as the answer seemingly no.

[2017-05-09 19:09] #491 closed

[2017-05-14 18:54] greenkeeper[bot] opened #495 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Arcana/node-dota2/compare/greenkeeper%2Fmocha-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-05-14 18:57] jimmydorry commented on #495
Non-breaking, my ass.

💪

[2017-05-14 19:47] Crazy-Duck commented on #495
I've no clue how this update breaks the tests o_O

[2017-05-14 20:39] wwickedseek opened #497 "Tip after match"
Yo! Thanks for such bot

I'm asking, is there any way to tip player after match?

[2017-05-14 20:58] rossengeorgiev commented on #497
Yes, you just send the message for that.

[2017-05-14 21:00] wwickedseek commented on #497
Thanks for help, but I can't understand your message :c
Can you explain it please?

As tip after match I mean button that gives +50 compendium points, located near commend button.

[2017-05-15 16:57] #495 closed

[2017-05-15 16:57] #490 closed

[2017-05-17 12:12] fenixphp opened #500 "[Help] Distribution of players by teams (daer, rediant) after their joining the lobby?"
The task is simple enough: to distribute the invited players in the lobby to their places in the teams. If it is possible? Thanks in advance.

[2017-05-17 14:33] angel200sdnot commented on #500
No, you can only make the bot kick players from either team as soon as they sit on that slot if they don't belong to that team

[2017-05-17 14:56] fenixphp commented on #500
Understood thanks.

[2017-05-21 15:01] wwickedseek opened #501 "Help with unhandled message"
I need to read somehow UNHANDLED MESSAGE k_EMsgClientToGCGiveTipResponse

[2017-05-21 22:40] markrmessmore commented on #307
I'm in a similar spot as the OP. I spent time transitioning my whole project from the node-steam library to node-steam-user. However when incorporating node-dota2 I have the following error:

`if (str.length === 0)
               ^

TypeError: Cannot read property 'length' of undefined
    at new fromString (C:\Users\markr\Google Drive\Personal\WLDL\wldleague\node_modules\long\dist\long.js:244:16)

[2017-05-21 22:47] andresrivero commented on #307
A solution for your out-of-band rewrite? Sure, if you would post some actual code. I think people would help you, otherwise, I'm not sure how a solution would exist or even be created.

[2017-05-22 06:15] jimmydorry commented on #307
It's out of scope any way. Looking at those errors and the issue appears to be with `node_modules\steam-user\...`.

Not only do you need to attach code, you probably need to be asking the steam-user devs.

[2017-05-22 17:45] markrmessmore commented on #307
For posterity I **THINK** I've got it working. The pertinent code can be seen [here](https://www.reddit.com/r/SteamBot/comments/6ckhe8/question_has_anyone_successfully_used_nodedota2/):